input[type='text'],
input[type='password'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='month'],
input[type='week'],
input[type='email'],
input[type='number'],
input[type='search'],
input[type='tel'],
input[type='time'],
input[type='url'],
input[type='color'],
input[type='submit'],
button,
.button,
.callout
{
      border-radius: 4px;
}

.tooltip{ background:#E76861; color:#FFFFFF }
.tooltip.top::before { border-color: #E76861   transparent transparent; }
.tooltip.left::before { border-color: transparent transparent transparent #E76861  ; }
.tooltip.right::before { border-color: transparent #E76861 transparent transparent; }

.good.tooltip{ background:#2199E8; color:#FFFFFF }
.good.tooltip.top::before { border-color: #2199E8 transparent transparent; }
.good.tooltip.left::before { border-color: transparent transparent transparent #2199E8 ; }
.good.tooltip.right::before { border-color: transparent #2199E8 transparent transparent; }

h5,
p,
label,
input[type='text'],
input[type='password'],
.small.callout
{
    color: #515151;
}

textarea {
    height: auto;
    border-radius: 4px !important;
    color: #515151 !important;
}

hr {
  margin: 0 0 0.5875em;
}
