#!/usr/bin/python
# -*- coding: utf-8 -*-

import sys
import os
import subprocess
import logging
import logging.handlers
import crypt
import time
import signal
import random
from random import randint
import smtplib
from email.mime.text import MIMEText
from email.mime.multipart import MIMEMultipart
from email.header import Header
import struct
import shutil
import base64
import getpass
import glob
import hashlib
import binascii

# apt-get install python-cracklib python-setproctitle <3
import crack
import setproctitle
import htmlentitydefs

# for the import / export feature
import json
import cStringIO

# imports from separate utils file
from hashman_utils import *

# variables that change on a case by case basis
DBDIR  = '<%= @dbdir %>'
MAIN_COMPANY = '<%= @company %>'
MAIL_FROM = '<%= @mailfrom %>'
SUPPORT_TEAM = <%= @team %>
HASHMAN_URL = '<%= @url %>'
# PROD vs TEST - controls notifications
TESTENV = <%= @testenv %>

# basic error codes for functions called from main()
E_OK = 0
E_ERR = 1

# commands with write impact
WRITERCMDS = [ 'setpw' , 'setpwint', 'lock' , 'unlock' , 'useradd' , 'userdel' , 'expire', 'unexpire', 'reset', 'test', 'setecryptfs', 'setpubkey' , 'unsetpubkey', 'unsetecryptfs', 'setemail', 'setcompany', 'import', 'inform' ]
NOTIFCMDS  = [ 'setpw' , 'lock' , 'unlock' , 'useradd' , 'userdel' , 'expire', 'unexpire', 'reset', 'auth', 'extauth', 'inform' ]
SHORTCMDS  = [ 'test' , 'listusers' , 'listplugins', ]
# commands with type 3 plugin sync impact
SYNCCMDS   = [ 'setpw' , 'setpwint', 'reset', 'userdel', 'lock' , 'unlock' , 'useradd', 'inform' ]

# other definitions
LOCKDIR='/tmp/pp_auth.lock'
# normpath is needed for trailing slashes due to irregular basename behaviour
DBDIRBACK = LOCKDIR + '/' + os.path.basename(os.path.normpath(DBDIR))

DBFILE_USER      = DBDIR + '/' + 'hashes.pp'
DBFILE_CNAME     = DBDIR + '/' + 'cnames.pp'
DBFILE_EMAIL     = DBDIR + '/' + 'emails.pp'
DBFILE_COMPANY   = DBDIR + '/' + 'companies.pp'
DBFILE_KEY       = DBDIR + '/' + 'keys.pp'
DBFILE_PPSIGS    = DBDIR + '/' + 'ppsigs.pp'
DBFILE_PPWRAPPED = DBDIR + '/' + 'ppwrapped.pp'
DBFILE_SMB       = DBDIR + '/' + 'hashes_smb.pp'

SUFFIX_USER      = '_pwd_hash'
SUFFIX_CNAME     = '_cname'
SUFFIX_EMAIL     = '_email'
SUFFIX_KEY       = '_ssh_key'
SUFFIX_COMPANY   = '_company'
SUFFIX_PPSIGS    = '_ppsigs'
SUFFIX_PPWRAPPED = '_ppwrapped'
SUFFIX_SMB       = '_pwd_hash_smb'

DBINFO = { DBFILE_USER:SUFFIX_USER , DBFILE_CNAME:SUFFIX_CNAME , DBFILE_EMAIL:SUFFIX_EMAIL , DBFILE_COMPANY:SUFFIX_COMPANY, DBFILE_KEY:SUFFIX_KEY, DBFILE_PPSIGS:SUFFIX_PPSIGS, DBFILE_PPWRAPPED:SUFFIX_PPWRAPPED , DBFILE_SMB:SUFFIX_SMB }

SEPARATOR = '='
LOCKPREFIX = '!'
EXPIREPREFIX = '!'
AUTHDELAY_BASE = 2
AUTHDELAY_DELTA = 3
OURPROCTITLE = 'pp_auth.py'
EMAIL_SUBJECT = 'Your account at ' + MAIN_COMPANY
MYDIR = os.path.dirname(os.path.abspath(__file__))
TEMPLATE_DIR = os.path.join(MYDIR, '../httpserver/templates')
EMAIL_TEMPLATE = TEMPLATE_DIR + '/email/' + 'index.html'
PLUGIN_DIR = os.path.normpath(os.path.join(MYDIR, '../plugins'))
SENDMAIL_URL = "mailto:"
HASHMAN_BUTTONTEXT = "CHANGE PASSWORD"
SENDMAIL_BUTTONTEXT = "CONFIRM"
CONFIRM_MAIL_CONTENT = "?subject=Account%20at%20Moosh&body=This%20is%20a%20confirmation%20that%20I%20received%20the%20email%20and%20now%20await%20instructions%20for%20the%20next%20steps. "

# ecryptfs helpers
UNWRAPCMD = '/usr/bin/ecryptfs-unwrap-passphrase'
WRAPCMD   = '/usr/bin/ecryptfs-wrap-passphrase'
SIGNCMD   = '/usr/bin/ecryptfs-add-passphrase'

# html related definitions
BREAK='<br/>\n'
DBREAK = BREAK + BREAK
OUTERWIDTH = 492
INNERWIDTH = 452
INNERWIDTH2 = 400
PADDING = 3
# 5px fixes "Need help" text on Microsoft Outlook, and breaks it elsewhere, 0 fixes it elsewhere and breaks MSO
PADDING_MSO = 0
MAIN_COLOR = '2199e8'
LIGHT_COLOR = 'ffffff'
BG_COLOR = 'f3f3f3'
RED_COLOR = 'E76861'
GRAY_COLOR ='949494'
# this is the default on the template, we use this variable for customization when keeping the color (hex 515151, rgb 81 81 81)
TEXT_COLOR = '515151'
FILEHEIGHT = 25
FILEWIDTH =  300
EXTRA_WIDTH = 90
NERRORS = 2
HEADLINE_SIZE = 14
# email body text
BODY_TEXT_USERADD = 'Your account has been set up.' + DBREAK + 'For security reasons, you must now contact our team and confirm the reception of this email. Once you contact us we will unlock your account so you can change your temporary password to a final one.' + DBREAK + 'To do so, please click on the button below'
BODY_TEXT_RESET = 'Your account has been reset with existing username ' + '{{ DUMMYUSERNAME }}' + ' and ' + '{{ DUMMYPASSWORD }}' + ' as a new temporary password.' + DBREAK + 'You can now change your temporary password to a final one at the link below.'
BODY_TEXT_TEST = 'Test message for account with username ' + '{{ DUMMYUSERNAME }}' + '.  If you know your password can change it to a different one at the link below.'
BODY_TEXT_INFORM = 'Your confirmation email has been received and your account has unlocked.' + DBREAK + 'Your account has username ' + '{{ DUMMYUSERNAME }}' + ' and ' + '{{ DUMMYPASSWORD }}' + ' as a temporary password.' + DBREAK + 'You can now change your temporary password to a final one at the link below.'

# minimun and maximum stuff for users, passwords, ecryptfs stuff, pubkeys
# this is really just to avoid being bombed with huge strings for whatever reason
MAXSTR=2000
MINSTR=2
MINPASSWORDLEN=<%= @minpasswordlen %>
# password size for useradd random password, must be >= MINPASSWORDLEN so we use MINPASSWORDLEN
PASSWORDLEN=MINPASSWORDLEN
# whether or not we want to relax the password structure rules
RELAXPASSWORD=<%= @relaxpassword %>
# limit usernames to a reasonable size
MAXUSR=20

# we support worst case plus one second
LOCKTIMEOUT= AUTHDELAY_BASE + AUTHDELAY_DELTA + 1

# workout whitelists for usernames, passwords, cnames and emails
LOWERCASE="abcdefghijklmnopqrstuvwxyz"
UPPERCASE="ABCDEFGHIJKLMNOPQRSTUVWXYZ"

# attempt at covering most accented characters without keeping the list under control
# nice Wikipedia reference - https://en.wikipedia.org/wiki/Diacritic
ACCENTED_PT='áâãàéêíóôõúçÁÂÃÀÉÊÍÓÔÕÚÇ'
EXTRA_ACCENTED_ES='ñÑ'
EXTRA_ACCENTED_SE='åäöÅÄÖ'
EXTRA_ACCENTED_DK='øæœØÆŒ'
EXTRA_ACCENTED_DE='üÜ'
ACCENTED = ACCENTED_PT + EXTRA_ACCENTED_ES + EXTRA_ACCENTED_SE + EXTRA_ACCENTED_DK + EXTRA_ACCENTED_DE

NUMBERS="0123456789"
SYMBOLS="!?#$%&*@+-._=;:|/"
LETTERS = LOWERCASE + UPPERCASE
WHITELIST = NUMBERS + LETTERS + '.'
# restricted special chars to the most common ones - also on next.html and customvalidation.js
WHITELIST_PWD = SYMBOLS + NUMBERS + LETTERS
# usernames are ruby variable names, no other chars allowed or pupet will break
WHITELIST_USR = NUMBERS + LETTERS
# for temporary passwords to make them simpler for the user
# l and i are too similar on some fonts
WHITELIST_TMP = (LETTERS + NUMBERS).replace('l','').replace('i','')
# the = sign is the delimiter but we have it included in the files
WHITELIST_B64 = NUMBERS + LETTERS + '/+' + '='
WHITELIST_COMPANY = WHITELIST + ACCENTED + ' '

# from man crypt
SALTLIST = LETTERS + './'
SALTTYPE = '6'
SALTSIZE = 16

# helper switch statement emulator class
class switch(object):
    def __init__(self, value):
        self.value = value
        self.fall = False

    def __iter__(self):
        """Return the match method once, then stop"""
        yield self.match
        raise StopIteration

    def match(self, *args):
        """Indicate whether or not to enter a case suite"""
        if self.fall or not args:
            return True
        elif self.value in args:
            self.fall = True
            return True
        else:
            return False

# check if a set of characters represents our definition of string
def is_string ( mystr, allownull = False, allowaccented = False, extra = '' ):

    extrachars = extra

    if ( mystr == None ):
        return False

    if ( mystr == '' ):
        if ( allownull ):
            return True
        else:
            return False

    if ( allowaccented ):
        extrachars += ACCENTED

    if ( set( mystr ) <= set( WHITELIST + extrachars ) ):
        return True
    else:
        return False

def is_cname ( mystr ):

    if ( mystr == None ):
        return False
    mynames = mystr.split(' ')
    for name in mynames:
        if ( not is_string(name, False, True) ):
            return False

    return True

# check if a set of characters represents our definition of email
def is_email ( mystr ):

    if ( mystr == None ):
        return False

    try:
        parts = mystr.split ('@')

        if ( len(parts) < 2 ):
            return False

        mailbox = parts[0]
        domain = parts[1]
        domaincomps = domain.split('.')

        if ( len(domaincomps) < 2 ):
            return False

        # some emails addresses actually use "_"
        if ( not is_string(mailbox, False, False, '_') ):
            return False

        for c in domaincomps:
            # some domain names actually use "-"
            # probably not supported on the top level component
            # but let us keep the code simple
            if ( not is_string (c, False, False, '-' ) ):
                return False

        return True

    except Exception, e:
        print 'Exception caught', e
        return False

# wrapper function to send email easily - WARNING: currently not in use
def xsendmail(email , subject, textfile, username, password, url):
    logging.debug( sys._getframe().f_code.co_name )

    # Open a plain file for reading. Suppose it is utf-8.
    fp = open(textfile, 'rb')
    # Create a text/plain message
    msg = MIMEText(fp.read(), _charset='utf-8')
    fp.close()

    # here are we filling the headers
    msg['Subject'] = subject
    msg['From'] = MAIL_FROM
    msg['To'] = email

    msg_str = msg.as_string()
    new_str = msg_str.replace( 'DUMMYUSER' , username )
    new_str = new_str.replace( 'DUMMYPASSWORD' , password )
    new_str = new_str.replace( 'DUMMYURL' , url )

    # Send the message via our own SMTP server, but don't include the
    # envelope header.
    s = smtplib.SMTP('127.0.0.1')
    rcpts = [ email ] + SUPPORT_TEAM
    s.sendmail(MAIL_FROM, rcpts , new_str)
    s.quit()

# wrapper function to send email easily
def xsendmail_html(emails, subject, body, sender, customername, servicename, receivername, html, url, company = '', button_text = HASHMAN_BUTTONTEXT):
    logging.debug( sys._getframe().f_code.co_name )

    # convert Common Name from UTF-8 to HTML entities
    html_receiver = encode_to_entity ( receivername.decode('utf-8') )
    new_str = html.replace( '{{ RECEIVER }}' , html_receiver )
    new_str = new_str.replace( '{{ SERVICE }}' ,  servicename )
    new_str = new_str.replace( '{{ TEXT }}' , body )
    new_str = new_str.replace( '{{ URL }}' ,  url )
    new_str = new_str.replace( '{{ LOGO }}' , HASHMAN_URL)
    new_str = new_str.replace( '{{ COMPANY }}' ,  company )
    new_str = new_str.replace( '{{ BUTTONTEXT }}' , button_text)

    # Create a Multipart message
    msg = MIMEMultipart('alternative')
    text = 'Please activate HTML support'

    # Record the MIME types of both parts - text/plain and text/html.
    part1 = MIMEText(text, 'plain', _charset='utf-8')
    part2 = MIMEText(new_str, 'html', _charset='utf-8')
    msg.attach(part1)
    msg.attach(part2)
    # NOTE: if we ever need special characters in the subject see below...
    msg['Subject'] = subject
    msg['From'] = sender
    if ("mailto" in url):
        msg['Reply-To'] = url.split(":")[1].split("?")[0]

    s = smtplib.SMTP('127.0.0.1')

    # iterate on the list of reciptients
    for i in range( len(emails) ):
        email = emails [i]
        # this horrible operation is to encode the common name while leaving the email address alone
        # https://gist.github.com/ymirpl/1052094#file-gistfile1-py-L27
        to_header = "\"%s\" %s" % ( Header ( receivername, 'utf-8' ) , ' <'+email+'>' )
        msg['To'] = to_header

        msg_str = msg.as_string()
        rcpts = [ email ] + SUPPORT_TEAM
        s.sendmail( sender , rcpts , msg_str)

    s.quit()

# convert hex 6 digit number to RGB declaration in CSS format
def hex_to_rgb(hex_string):
    mytuple = struct.unpack('BBB',hex_string.decode('hex'))
    return "rgb{}".format( mytuple )

def html_customize_text ( text, hexcolor, textsize=14 ):

    prefix = '<span style="color: {{ RGB_COLOR }}; font-size: {{ TEXT_SIZE }}px; font-family: \'proxima_nova_rgregular\', Helvetica; font-weight: normal;">'
    suffix = '</span>'

    prefix = prefix.replace  ('{{ RGB_COLOR }}' , hex_to_rgb ( hexcolor ) )
    prefix = prefix.replace  ('{{ TEXT_SIZE }}' , str(textsize) )
    html = prefix + text + suffix

    return html

# wrapper function for HTML email, extracted untouched from the asgard platform notifier
def html_from_template ( template , hexcolor , hexlight, hexred, hexgray, hexbg, outerw, innerw, innerw2, padding, fileheight, filewidth, padding_mso = 0 ):

    # Open HTML file
    fp = open(template, 'rb')
    new_str = fp.read()
    fp.close()

    # Helper HTML file with repeatable items
    fp = open (template + '.item', 'rb')
    extra_str = fp.read()
    fp.close()

    # fixed delta
    filefontsize = fileheight - 13
    extra_str = extra_str.replace( '{{ FILEHEIGHT }}' , str(fileheight) )
    extra_str = extra_str.replace( '{{ FILEWIDTH }}' ,  str(filewidth)  )
    extra_str = extra_str.replace( '{{ FILEFONTSIZE }}',str(filefontsize) )

    # Helper title string - if we want to prefix each type of list with a title
    item_str = '<!--[if !mso]><!--><span style="font-family: \'proxima_nova_rgregular\', Helvetica; font-weight: normal;"><!--<![endif]-->{{ FSTATUS }}<!--[if !mso]><!--></span><!--<![endif]--><br/>\n'

    # normal substitution for the rest of the file
    new_str = new_str.replace( '{{ HEX_COLOR }}' , '#' + hexcolor )
    new_str = new_str.replace( '{{ RGB_COLOR }}' , hex_to_rgb ( hexcolor ) )
    new_str = new_str.replace( '{{ LIGHT_HEX_COLOR }}' , '#' + hexlight  )
    new_str = new_str.replace( '{{ LIGHT_RGB_COLOR }}' , hex_to_rgb ( hexlight ) )
    new_str = new_str.replace( '{{ BG_HEX_COLOR }}' , '#' + hexbg )
    new_str = new_str.replace( '{{ BG_RGB_COLOR }}' , hex_to_rgb ( hexbg ) )
    new_str = new_str.replace( '{{ OUTERWIDTH }}' , str(outerw) )
    new_str = new_str.replace( '{{ INNERWIDTH }}' , str(innerw) )
    new_str = new_str.replace( '{{ INNERWIDTH2 }}' , str(innerw2) )
    new_str = new_str.replace( '{{ PADDING }}' , str(padding) )
    new_str = new_str.replace( '{{ PADDING_MSO_BUG }}' , str(padding_mso) )
    new_str = new_str.replace( '{{ FILEHEIGHT }}' , str(fileheight) )
    new_str = new_str.replace( '{{ FILEWIDTH }}' ,  str(filewidth)  )
    new_str = new_str.replace( '{{ TEXT_UNDER_LOGO }}' , '' )

    # for the good news / bad news text, if any
    new_str = new_str.replace( '{{ BAD_NEWS_RGB_COLOR }}' ,  hex_to_rgb(hexred) )
    new_str = new_str.replace( '{{ GOOD_NEWS_RGB_COLOR }}' , hex_to_rgb(hexcolor) )

    return new_str

# converts a unicode string to html entities
def encode_to_entity(s):
    t = ""
    for i in s:
        if ord(i) in htmlentitydefs.codepoint2name:
            name = htmlentitydefs.codepoint2name.get(ord(i))
            t += "&" + name + ";"
        else:
            t += i

    return t

# helper to remove a suffix
def strip_suffix( text, suffix ):
    if not text.endswith( suffix ):
        return text
    return text[:len( text )-len( suffix )]

# random string - suitable filenames, etc
def mkstr( length, charset = WHITELIST_TMP ):
    logging.debug( sys._getframe().f_code.co_name )

    return ''.join(random.choice(charset) for i in range(length))

# random string suitable for passwords (complexity is enforced)
def mkpasswd ( length ):
    logging.debug( sys._getframe().f_code.co_name )

    # ensure NUMBERS, SYMBOLS, and UPPERCASE are present...
    str  = mkstr( length - 3, LOWERCASE ) + mkstr ( 1, UPPERCASE ) + mkstr ( 1 , NUMBERS ) + mkstr ( 1 , SYMBOLS )

    # ... but not on a predictable place
    mypass = ''.join( random.sample( str, len(str) ) )

    return mypass

# signal exit
def signal_exit( signum, frame ):
    logging.info('exiting on signal ' + str(signum))
    # rolls back changes
    unlockdb( True )
    sys.exit(E_ERR)

def signals_handle ( flag ):
    logging.debug( sys._getframe().f_code.co_name )

    if (flag == True):
        handler = signal_exit
    else:
        handler = signal.SIG_IGN

    signal.signal(signal.SIGTERM, handler)
    signal.signal(signal.SIGINT, handler)
    signal.signal(signal.SIGALRM, handler)
    signal.signal(signal.SIGTSTP, handler)

# we use this to protect the db file against concurrent accesses and centralize dbchecks
def lockdb( timeout = 3 ):
    logging.debug( sys._getframe().f_code.co_name )

    mytime = 0 
    while ( mytime < timeout):
        try:
            if ( mytime != 0 ):
                time.sleep(1)
            mytime = mytime + 1
            # mkdir is suposedely atomic and returns an error if dir exists
            os.mkdir(LOCKDIR)
            status = E_OK
            break

        except Exception, e:
            logging.debug( str(e) )
            status = E_ERR

    if ( status == E_ERR):
        logging.error('could not acquire a lock')
        sys.exit(E_ERR)

    # we successfully locked

    # now suspend signal handing to ensure to prevent interruption of this sequence
    signals_handle( False )

    # we can now examine the database exclusively
    if ( not checkdb() ):
        logging.debug('database file is missing, inconsistent or has wrong permissions')
        os.rmdir(LOCKDIR)
        sys.exit(E_ERR)

    # if the database is good create a backup copy 
    # it is critical to ensure this because on signal receival we restore from here
    try:
        shutil.copytree(DBDIR, DBDIRBACK )

    except Exception, e:
            logging.debug( str(e) )
            logging.error('error during database backup, aborting...')
            logging.error( LOCKDIR + ' not deleted ')
            sys.exit(E_ERR)

    # we are OK let's resume signal handling
    signals_handle( True )

    return E_OK

# release the lock, retore the db if needed
def unlockdb( restore = False ):
    logging.debug( sys._getframe().f_code.co_name )

    if not os.path.isdir(DBDIRBACK):
        logging.error('Will not delete main db because %s does not exist' % (DBDIRBACK))
        logging.info('Removing db lock')
        os.rmdir(LOCKDIR)
        return E_ERR

    try:
        if ( restore ):
            shutil.rmtree(DBDIR)
            shutil.copytree( DBDIRBACK, DBDIR )

        shutil.rmtree(DBDIRBACK)
        os.rmdir(LOCKDIR)
        return E_OK

    except Exception, e:
        logging.debug( str(e) )
        return E_ERR

# from man crypt (lower part for SHA-512):
# "salt stands for the up to 16 characters"
def mksalt ():
    logging.debug( sys._getframe().f_code.co_name )

    uplim = len(SALTLIST) - 1
    saltstr = ''
    for x in range(0, SALTSIZE):
        saltstr = saltstr + SALTLIST[ randint(0,uplim) ]

    return saltstr

# random delay to avoid brute force attacks
def mkdelay( base , maxdelta ):
    logging.debug( sys._getframe().f_code.co_name )

    ourdelay = base + randint(0, maxdelta )
    time.sleep (ourdelay) 

# initializes the db files in case one or more is missing
def initdb ():
    logging.debug( sys._getframe().f_code.co_name )

    for myfile, suffix in DBINFO.iteritems():
        try:
            # tries to open for writing, creates if it doesn't exist
            # CAREFUL: must be 'a', not 'w'
            open(myfile,'a')
        except Exception,e:
            return E_ERR

    return E_OK

# checks the set of database files
def checkdb ():
    logging.debug( sys._getframe().f_code.co_name )

    for file, suffix in DBINFO.iteritems():
        status = checkdb_file ( file, suffix )
        if status != True:
            return False

    return True

# checks wether the database file has the appropriate format
def checkdb_file ( dbfile, suffix ):
    logging.debug( sys._getframe().f_code.co_name )

    try:
        input_fp = None
        input_fp = open( dbfile , "r" )
        for line in iter( input_fp.readline, '' ):
            # we iterate along all the file ignoring lines starting with
            if ( line.startswith("#") == False ):
                parts = line.split(SEPARATOR)
                auxp = parts[0].split('$')
                dbpass = parts[1].strip()[1:-1]
                dbusername = strip_suffix( auxp[1].strip(), suffix )

    except Exception, e:
        logging.debug( str(e) )
        if (input_fp is not None): 
            input_fp.close()
        return False

    input_fp.close()       
    return True

# checks wether the strings chars are acceptable - size range and no funny characters
def checkstr ( mystr, whitelist ):
    logging.debug( sys._getframe().f_code.co_name )

    if ( len( mystr ) < MINSTR): return False
    if ( len( mystr ) > MAXSTR): return False

    if ( set( mystr ) <= set( whitelist ) ):
        return True
    else:
        return False

    return False

def checkstr_usr ( mystr ):
    logging.debug( sys._getframe().f_code.co_name )

    return ( len (mystr) <= MAXUSR and checkstr ( mystr , WHITELIST_USR ) )

def checkstr_pwd ( mystr ):
    logging.debug( sys._getframe().f_code.co_name )

    return checkstr ( mystr , WHITELIST_PWD )

def checkstr_b64 ( mystr ):
    logging.debug( sys._getframe().f_code.co_name )

    return checkstr ( mystr , WHITELIST_B64 )

# checks password complexity
def checkpw ( password, forcerelax = False ):
    logging.debug( sys._getframe().f_code.co_name )

    try:
       # three simple criteria, the whitelist is checked in checkstr_pwd
        crit1 = ( len(password) >= MINPASSWORDLEN )
        crit2 = bool ( set(password) & set(SYMBOLS) )
        crit3 = bool ( set(password) & set(NUMBERS) )
        if ( RELAXPASSWORD != True and forcerelax != True ):
            crit4 = bool ( set(password) & set(UPPERCASE) )
            crit5 = bool ( set(password) & set(LOWERCASE) )
        else:
            crit4 = bool ( set(password) & set(LETTERS) )
            crit5 = True

        return ( crit1 and crit2 and crit3 and crit4 and crit5 )

    except Exception,e:
        logging.info('password ' + str(e))
        return False

    return False

# checks password complexity - the more demanding method
def checkpw_fascist ( password ):
    logging.debug( sys._getframe().f_code.co_name )

    try:
       # raises exception
        crack.VeryFascistCheck( password )
        return True

    except Exception,e:
        logging.info('password ' + str(e))
        return False

    return False

# looks up the existing password entry of a given user
def getpw ( username, returnline = False):
    logging.debug( sys._getframe().f_code.co_name )

    return getent ( username, DBFILE_USER, SUFFIX_USER, returnline )

# looks up the existing samba hash entry of a given user
def getsmbhash ( username, returnline = False):
    logging.debug( sys._getframe().f_code.co_name )

    return getent ( username, DBFILE_SMB, SUFFIX_SMB, returnline )

# looks up the existing email entry of a given user
def getemail ( username, returnline = False):
    logging.debug( sys._getframe().f_code.co_name )

    return getent ( username, DBFILE_EMAIL, SUFFIX_EMAIL, returnline )
 
# looks up the existing cname entry of a given user
def getcname ( username, returnline = False):
    logging.debug( sys._getframe().f_code.co_name )

    return getent ( username, DBFILE_CNAME, SUFFIX_CNAME, returnline )

# looks up the existing company entry of a given user
def getcompany ( username, returnline = False):
    logging.debug( sys._getframe().f_code.co_name )

    return getent ( username, DBFILE_COMPANY, SUFFIX_COMPANY, returnline )

# looks up the existing passphrase signatures entries of a given user
def getppsigs ( username, returnline = False):
    logging.debug( sys._getframe().f_code.co_name )

    return getent ( username, DBFILE_PPSIGS, SUFFIX_PPSIGS, returnline )

# looks up the existing wrapped ecryptfs passphrase of a given user
def getppwrapped ( username, returnline = False):
    logging.debug( sys._getframe().f_code.co_name )

    return getent ( username, DBFILE_PPWRAPPED, SUFFIX_PPWRAPPED, returnline )

# looks up the existing passphrase signatures entries of a given user
def getpubkey ( username, returnline = False):
    logging.debug( sys._getframe().f_code.co_name )

    return getent ( username, DBFILE_KEY, SUFFIX_KEY, returnline )

# looks up a generic entry of a given user
def getent ( username, dbfile, suffix, returnline = False ):
    logging.debug( sys._getframe().f_code.co_name )

    try:
        index = -1
        input_fp = None
        input_fp = open( dbfile ,"r" )
        for line in iter( input_fp.readline, '' ):
            index = index + 1
            if ( not line.startswith("#") ):
                # second argument is the count, SEPARATOR signs might occur inside the string!
                parts = line.split(SEPARATOR,1)
                # we need to skip the ruby assignement $
                auxp = parts[0].split('$')
                # trim an dequote password 
                dbvalue = parts[1].strip()[1:-1]
                # trim left hand before stripping suffix
                dbusername = strip_suffix( auxp[1].strip(), suffix )
                if ( dbusername == username):
                    if ( returnline == True):
                        return index
                    else:
                        # string-escape was added for surviving the export/userdel/import round trip
                        # that was failing for not fully understood reasons - see #50
                        return dbvalue.decode('string-escape')

    except Exception, e:
        logging.debug( str(e) )
        if (input_fp is not None): 
            input_fp.close()
        return None

    input_fp.close()
    return None

# sets the ecryptfs base64 encoded parameters of a given user
def setecryptfs ( username, ppsigs, ppwrapped):
    logging.debug( sys._getframe().f_code.co_name )

    # first thing is input validation
    if ( checkstr_usr ( username ) == False ):
        return E_ERR

    if ( checkstr_b64 ( ppsigs ) == False ):
        return E_ERR

    if ( checkstr_b64 ( ppwrapped ) == False ):
        return E_ERR

    idx1 = getppsigs (username, True )
    idx2 = getppwrapped (username, True )
    if ( idx1 != None and idx2 != None ):
        rc1 = setent ( username, idx1, ppsigs, DBFILE_PPSIGS )
        rc2 = setent ( username, idx2, ppwrapped, DBFILE_PPWRAPPED )
        if (rc1 == E_OK and rc2 == E_OK):
            return E_OK
        else:
            return E_ERR # one or more setents failed
    else:
        return E_ERR # one or more of the indexes were not found

    return E_ERR

# sets the public key of a given user
def setpubkey ( username, pubkey ):
    logging.debug( sys._getframe().f_code.co_name )

    # first thing is input validation
    if ( checkstr_usr ( username ) == False ):
        return E_ERR

    if ( checkstr_b64 ( pubkey ) == False ):
        return E_ERR

    index = getpubkey (username, True )
    if ( index != None ):
        return setent ( username, index, pubkey , DBFILE_KEY )

    return E_ERR

# resets the public key of a given user to an empty string
def unsetpubkey ( username ):
    logging.debug( sys._getframe().f_code.co_name )

    index = getpubkey (username, True )
    if ( index != None ):
        return setent ( username, index, '' , DBFILE_KEY )

    return E_ERR

# resets the ecryptfs related paramters to empty strings
def unsetecryptfs ( username ):
    logging.debug( sys._getframe().f_code.co_name )

    # first thing is input validation
    if ( checkstr_usr ( username ) == False ):
        return E_ERR

    idx1 = getppsigs (username, True )
    idx2 = getppwrapped (username, True )
    if ( idx1 != None and idx2 != None ):
        rc1 = setent ( username, idx1, '', DBFILE_PPSIGS )
        rc2 = setent ( username, idx2, '', DBFILE_PPWRAPPED )
        if (rc1 == E_OK and rc2 == E_OK):
            return E_OK
        else:
            return E_ERR # one or more setents failed
    else:
        return E_ERR # one or more of the indexes were not found

    return E_ERR


# sets the email of a given user
def setemail ( username, email ):
    logging.debug( sys._getframe().f_code.co_name )

    # first thing is input validation
    if ( checkstr_usr ( username ) == False ):
        return E_ERR

    if ( not is_email ( email ) ):
        return E_ERR

    index = getemail (username, True )
    if ( index != None ):
        return setent ( username, index, email , DBFILE_EMAIL )

    return E_ERR

# sets the company key of a given user
def setcompany ( username, company ):
    logging.debug( sys._getframe().f_code.co_name )

    # first thing is input validation
    if ( checkstr_usr ( username ) == False ):
        return E_ERR

    if ( checkstr ( company, WHITELIST_COMPANY ) == False ):
        return E_ERR

    index = getcompany (username, True )
    if ( index != None ):
        return setent ( username, index, company , DBFILE_COMPANY )

    return E_ERR

# sets the common name of a given user
def setcname ( username, cname ):
    logging.debug( sys._getframe().f_code.co_name )

    # first thing is input validation
    if ( checkstr_usr ( username ) == False ):
        return E_ERR

    if ( not is_cname(cname) ):
        return E_ERR

    index = getcname (username, True )
    if ( index != None ):
        return setent ( username, index, cname , DBFILE_CNAME )

    return E_ERR

# helper to unwrapp the ecryptfs passphrase
def getpp ( ppwrapped, password ):
    logging.debug( sys._getframe().f_code.co_name )

    ppwrapped_bin = base64.b64decode (ppwrapped)
    myfile  = '/tmp/tmpecrypt-' + mkstr(8)
    output_fp = open (myfile, 'w')
    output_fp.writelines (ppwrapped_bin)
    output_fp.close()

    # get the passphrase to rewrap and resign
    ps = subprocess.Popen(('/bin/echo', password), stdout=subprocess.PIPE)
    output = subprocess.check_output( ( UNWRAPCMD, myfile ), stdin=ps.stdout)
    ps.wait()
    passphrase = output.split('\n')[1]

    return passphrase, myfile

# sets the password entry of a given user
def setpw ( username , password, raw = False, oldpassword = '', smbhash = '' ):
    logging.debug( sys._getframe().f_code.co_name )

    # first thing is input validation
    if ( checkstr_usr ( username ) == False ):
        return E_ERR

    if ( not raw and checkstr_pwd ( password ) == False ):
        return E_ERR

    # if the old password is given we check wether is is correct
    # to protect the ecryptfs stuff
    if ( oldpassword != '' ):
        if ( checkstr_pwd ( password ) == False ):
            return E_ERR
        if ( auth ( username , oldpassword ) == E_ERR):
            return E_ERR

    # then we check password complexity
    if ( not raw and checkpw( password ) == False ):
        return E_ERR

    if ( raw ):
        ourentry = password
    else:
        saltstr  = mksalt()
        # the result is the same with and without the last $
        ourentry = crypt.crypt( password , '$' + SALTTYPE + '$' + saltstr + '$')

    index = getpw ( username, True )
    smbindex = getsmbhash ( username, True )

    rc = E_OK
    # to preserve spacing we modify the line directly instead of rewriting it
    if ( index is not None and index > -1 ):
        rc= setent ( username, index, ourentry, DBFILE_USER )
        if ( rc != E_OK ):
            return rc

        # code that handles smbhash management
        # if we are doing a raw entry setting (locks, expire, unlock, expire)
        if (raw):
            # if smbhash is passed as None then the user does not have an smbhash entry
            if ( smbhash == None ):
                pass
            elif ( smbindex is not None and smbindex > -1 ):
                # set the smbhash if the user already has an entry
                rc = setent ( username, smbindex, smbhash, DBFILE_SMB)
            else:
                # create a user with both Unix and Samba hash as raw values
            	rc = addent ( username, samba_hash, DBFILE_SMB, SUFFIX_SMB )
        else:
            # not raw, normal password setting
            if ( smbhash == None or smbhash == '' ):
                newsmbhash = generatesmbhash( password )
                if ( smbindex is not None and smbindex > -1 ): # if we already have a samba hash we replace it
                    rc = setent ( username, smbindex, newsmbhash, DBFILE_SMB)
                else: # otherwise we add it
                    rc = addent ( username, newsmbhash, DBFILE_SMB, SUFFIX_SMB ) 
            else:
                logging.error('Error: we should not receive a samba hash on a normal pasword setting operation')
                return E_ERR

        if ( rc != E_OK ):
            return rc
    else:
        return E_ERR # user does not exist

    # if we are called with the actual password we need to also update the ecrypt entries
    if ( not raw ):
        ppsigs = getppsigs (username)
        ppwrapped = getppwrapped (username)

        if ( ppsigs != '' and ppwrapped != ''):
            if ( oldpassword == ''):
                logging.error('we have ecryptfs info but did not get the old password')
                return E_ERR
            else:
                try:
                    logging.info('updating ecryptfs data for user ' + username )

                    passphrase, myfile = getpp ( ppwrapped , oldpassword )

                    # get the new wrapped passphrase
                    myfile  = '/tmp/tmpecrypt-' + mkstr(8)
                    ps = subprocess.Popen(('/bin/echo', passphrase + '\n' + password), stdout=subprocess.PIPE)
                    output = subprocess.check_output( ( WRAPCMD , myfile), stdin=ps.stdout)
                    ps.wait()
                    input_fp = open (myfile, 'r')
                    ppwrapped_new_bin = input_fp.read()
                    ppwrapped_new = base64.b64encode(ppwrapped_new_bin)
                    input_fp.close()

                    # we delete the temporary file as soon as we don't need it
                    os.remove(myfile)

                    # and if all went well let us write the entries
                    # ppsigs is the same because it does NOT change on password changes
                    return setecryptfs ( username, ppsigs, ppwrapped_new )

                except Exception, e:
                    logging.debug( str(e) )
                    logging.info('there was an error on the ecryptfs parameters processing' )
                    return E_ERR

        else: # ppsigs and ppwrapped are empty
            return E_OK
    else: # if raw
        return E_OK

    return E_ERR

# sets up a generic entry of a given existing user
def setent ( username, index, content, dbfile ):
    logging.debug( sys._getframe().f_code.co_name )

    try:
        # this is on top because closing might be done on the exception handler
        input_fp = None
        input_fp = open( dbfile ,"r" )
        # reset the pointer so we can read all the lines
        input_fp.seek(0)
        alllines = input_fp.readlines()
        tmpline = alllines[index]
        # reuse whatever is before the content
        tmpline = tmpline.partition('\'')[0]
        # rewrite content
        tmpline = tmpline + '\'' + content + '\'' + '\n'
        alllines[index] = tmpline
        input_fp.close()

        output_fp = None
        signals_handle( False )
        # suspend signal handling around file writing
        output_fp = open( dbfile ,"w" )
        output_fp.writelines(alllines)
        output_fp.close()
        # resume signal handling
        signals_handle( True )

        return E_OK

    except Exception, e:
        logging.debug( str(e) )

        if (input_fp is not None):
            input_fp.close()
        if (output_fp is not None):
            output_fp.close()

        signals_handle( True )

        return E_ERR

# adds an entry for a non existing user
def addent ( username, content, dbfile, suffix ):
    logging.debug( sys._getframe().f_code.co_name )

    try:
        output_fp = None
        signals_handle( False )
        # suspend signal handling around file writing
        output_fp = open( dbfile , "a" )
        # string-escape was added for surviving the export/userdel/import round trip
        # that was failing for not fully understood reasons - see #50
        ourline  = '$' + username + suffix + ' = ' + '\'' + content.encode('string-escape') + '\'' +'\n'
        output_fp.writelines ( ourline )
        output_fp.close()
        # resume signal handling
        signals_handle( True )

        return E_OK

    except Exception, e:
        logging.debug( str(e) )
        if (output_fp is not None):
            output_fp.close()
        signals_handle( True )
        return E_ERR

    return E_ERR

# deletes the entry of an exiting user
def delent ( username, dbfile, suffix):

    try:
        input_fp = None
        input_fp = open( dbfile , "r" )
        alllines = input_fp.readlines()
        input_fp.close()
        output_fp = None
        mykey = '$' + username + suffix
        output_fp = open( dbfile , "w" )
        for index in range(0, len(alllines) ):
            curline = alllines[index]
            leftside = curline.split('=')[0].strip()
            if ( leftside != mykey ):
                output_fp.writelines(alllines[index])
        output_fp.close()
        # resume signal handling

        return E_OK

    except Exception, e:
        logging.debug( str(e) )
        if (output_fp is not None):
            output_fp.close()
        if (input_fp is not None):
            input_fp.close()
        signals_handle( True )

        return E_ERR


# locks a username by setting the password shadow field accordingly
def lockpw ( username, ignorestatus = False ):
    logging.debug( sys._getframe().f_code.co_name )

    # first thing is input validation
    if ( checkstr_usr ( username ) == False ):
        return E_ERR
    
    pwentry = getpw( username )
    if ( pwentry is None ):
        logging.debug('user ' + username + ' not found')
        return E_ERR
    
    smbhashentry = getsmbhash( username )
    if ( smbhashentry is None ):
        logging.debug('user ' + username + ' Samba hash not found, no action taken')

    # if user is already locked we return an error except if ignorestatus = True
    if ( is_pwlocked( pwentry ) ):
        logging.debug('user ' + username + ' already locked')
        if ( ignorestatus == False):
            return E_ERR
        else:
            return E_OK

    pwentry = LOCKPREFIX + pwentry
    smbhashentry = mk_smb_lockness( username, pwentry )

    return setpw ( username , pwentry, True, '', smbhashentry)

# unlocks a username by removing the lock attribute on the password shadow field
def unlockpw ( username ):
    logging.debug( sys._getframe().f_code.co_name )

    # first thing is input validation
    if ( checkstr_usr ( username ) == False ):
        return E_ERR
    
    pwentry = getpw( username )
    smbhashentry = getsmbhash( username )

    if ( pwentry is None ):
        logging.debug('user ' + username + ' not found')
        return E_ERR

    if ( not is_pwlocked( pwentry ) ):
        logging.debug('user ' + username + ' not locked')
        return E_ERR

    pwentry = pwentry.lstrip( LOCKPREFIX )
    smbhashentry = mk_smb_lockness( username, pwentry )

    return setpw ( username , pwentry, True, '', smbhashentry )

# checks if a password entry is locked
def is_pwlocked ( pwentry ):
    logging.debug( sys._getframe().f_code.co_name )

    return pwentry.startswith ( LOCKPREFIX )

# checks if a Samba hash entry is locked
def is_smbhashlocked ( smbhash ):
    logging.debug( sys._getframe().f_code.co_name )

    return smbhash.startswith ( LOCKPREFIX )

# checks is a user is locked
def is_locked ( username ):
    logging.debug( sys._getframe().f_code.co_name )

    # first  thing is input validation
    if ( checkstr_usr ( username ) == False ):
        return E_ERR

    try:
        pwentry = getpw( username )
        if ( pwentry is None ):
            logging.debug('user ' + username + ' not found')
            return E_ERR

    except Exception,e:
        logging.debug( str(e) )
        return E_ERR

    return is_pwlocked ( pwentry )


# checks username + password combination against the existing database file
def auth ( username, password ):
    logging.debug( sys._getframe().f_code.co_name )

    # hold on your horses
    mkdelay ( AUTHDELAY_BASE , AUTHDELAY_DELTA )

    # first thing is input validation
    if ( checkstr_usr ( username ) == False ):
        return E_ERR

    if ( checkstr_pwd ( password ) == False ):
        return E_ERR

    try:
        pwentry = getpw( username )
        if ( pwentry is None ):
            logging.debug('user ' + username + ' not found')
            return E_ERR

        parts    = pwentry.strip().split('$')
        salttype = parts[1]
        saltstr  = parts[2]
        dbpw     = parts[3]

        # support case where password is expired
        if ( salttype.startswith ( EXPIREPREFIX ) ):
            logging.debug('password is expired but we accept auth')
            salttype = salttype[1:]
            pwentry = parts[0] + '$' + salttype + '$' + saltstr + '$' + dbpw

        # the result is the same with and without the last $
        ourentry = crypt.crypt( password , '$' + salttype + '$' + saltstr + '$')

        if ( ourentry == pwentry ):
            return E_OK
        else:
            return E_ERR

    except Exception,e:
        logging.debug( str(e) )
        return E_ERR

    # don't grant anything by default
    return E_ERR

def listusers():
    logging.debug( sys._getframe().f_code.co_name )

    userlist = enumusers()

    if ( userlist == None ):
        return E_ERR

    # the leading u declares unicode format
    format_str = u'{:20} {:8} {:6} {:6} {:7} {:40} {:42} {:20}'

    print
    print format_str.format( 'username            ', 'ecryptfs', 'sshkey', 'locked', 'expired', 'email                                   ', 'common name                               ', 'company             ' )
    print format_str.format( '--------------------', '--------', '------', '------', '-------' ,'----------------------------------------', '------------------------------------------', '--------------------' )

    for username in userlist:
        email = getemail (username)
        cname = getcname (username)
        company = getcompany (username)
        ecryptfs = ' '
        sshkey   = ' '
        locked   = ' '
        expired  = ' '
        if ( getppsigs(username) != '' ):
            ecryptfs = 'X'
        if ( getpubkey(username) != '' ):
            sshkey = 'X'
        if ( is_locked(username) ):
            locked = 'X'
        if ( is_expired(username) ):
            expired = 'X'

        # the decodes are necessary to avoid misformatting due to special chars
        print format_str.format( username, ecryptfs, sshkey, locked, expired, email, cname.decode('utf-8'), company.decode('utf-8') )

    print
    return E_OK

def enumusers():
    logging.debug( sys._getframe().f_code.co_name )

    try:
        mylist = []
        index = -1
        input_fp = None
        input_fp = open( DBFILE_USER  ,"r" )
        for line in iter( input_fp.readline, '' ):
            index = index + 1
            if ( not line.startswith("#") ):
                # second argument is the count, SEPARATOR signs might occur inside the string!
                parts = line.split(SEPARATOR,1)
                # we need to skip the ruby assignement $
                auxp = parts[0].split('$')
                # trim left hand before stripping suffix
                dbusername = strip_suffix( auxp[1].strip(), SUFFIX_USER )
                mylist.append(dbusername)

    except Exception, e:
        logging.debug( str(e) )
        if (input_fp is not None):
            input_fp.close()
        return None

    input_fp.close()
    return mylist

def notify ( email, name , username , password, msgbody, url_to_show = HASHMAN_URL ):
    logging.debug( sys._getframe().f_code.co_name )

    #if TESTENV == True:
    #    return

    if (url_to_show != HASHMAN_URL):
        button_text = SENDMAIL_BUTTONTEXT
    else:
        button_text = HASHMAN_BUTTONTEXT

    emails = []
    emails.insert(0,email)
    body = msgbody
    html_password = html_customize_text( password , GRAY_COLOR )
    html_username = html_customize_text( username , GRAY_COLOR )
    body = body.replace( '{{ DUMMYPASSWORD }}' , html_password )
    body = body.replace( '{{ DUMMYUSERNAME }}' , html_username )
    html = html_from_template ( EMAIL_TEMPLATE, MAIN_COLOR, LIGHT_COLOR, RED_COLOR, GRAY_COLOR,  BG_COLOR, OUTERWIDTH + EXTRA_WIDTH, INNERWIDTH + EXTRA_WIDTH, INNERWIDTH2 + EXTRA_WIDTH, PADDING, FILEHEIGHT, FILEWIDTH, PADDING_MSO)
    xsendmail_html ( emails, EMAIL_SUBJECT, body, MAIL_FROM,  "", "", name, html, url_to_show, MAIN_COMPANY, button_text)

def useradd ( username, password, email , name , company, lockuser = True, mailnotif = True, confirm_mail = "" ):
    logging.debug( sys._getframe().f_code.co_name )

    # first thing is input validation
    if ( checkstr_usr ( username ) == False ):
        logging.error('error validating username ' + username)
        return E_ERR

    if ( not is_email ( email ) ):
        logging.error('error validating email ' + email)
        return E_ERR

    if ( not is_cname ( name ) ):
        logging.error('error validating common name ' + name)
        return E_ERR

    pwentry = getpw( username )
    if ( not pwentry is None ):
        logging.error('user ' + username + ' already exists')
        return E_ERR
    if ( confirm_mail != ""   ):
        url_to_show = SENDMAIL_URL + confirm_mail + CONFIRM_MAIL_CONTENT
    else:
        url_to_show = HASHMAN_URL
    saltstr  = mksalt()
    ourentry = crypt.crypt( password , '$' + SALTTYPE + '$' + saltstr + '$')

    samba_hash = generatesmbhash( password )

    try:
        signals_handle( False )
        addent ( username, ourentry,   DBFILE_USER,      SUFFIX_USER )
        addent ( username, email,      DBFILE_EMAIL,     SUFFIX_EMAIL )
        addent ( username, name,       DBFILE_CNAME,     SUFFIX_CNAME )
        addent ( username, company,    DBFILE_COMPANY,   SUFFIX_COMPANY )
        addent ( username, samba_hash, DBFILE_SMB,       SUFFIX_SMB )

        # these are empty by default 
        addent ( username, '',       DBFILE_PPSIGS,    SUFFIX_PPSIGS )
        addent ( username, '',       DBFILE_PPWRAPPED, SUFFIX_PPWRAPPED )
        addent ( username, '',       DBFILE_KEY,       SUFFIX_KEY )

        expirepw ( username )
        if ( lockuser == True ):
            lockpw( username ) 
        signals_handle( True )
    
        logging.info('user ' + username + ' created with initial password ' + password)

        if ( mailnotif == True ):
            notify ( email, name, username, password, BODY_TEXT_USERADD, url_to_show )

        return E_OK

    except Exception, e:
        logging.error('validations passed but user creation failed')
        logging.debug( str(e) )
        return E_ERR

def generatesmbhash ( password ):
    samba_nt_password = hashlib.new('md4', password.encode('utf-16le')).hexdigest()
    # base64 value must be wrapped as a string otherwise an error will occur when calling encode('string-escape')
    return str(base64.b64encode(binascii.a2b_hex(samba_nt_password)).decode("utf-8"))


def useradd_import ( username_cli, json_b64_userdata ):
    logging.debug( sys._getframe().f_code.co_name )

    try:
        json_userdata = base64.b64decode (json_b64_userdata)
        userdata = json.loads (json_userdata)
        username = userdata[0][1]

        if ( username != username_cli ):
            logging.error('command line given username differs from username from userdata')
            return E_ERR

        company   = userdata[1][1].encode('utf-8')
        email     = userdata[2][1].encode('utf-8')
        pwentry   = userdata[3][1]
        name      = userdata[4][1]
        uname     = name.encode('utf-8')
        ppsigs    = userdata[5][1]
        ppwrapped = userdata[6][1]
        smbhash   = userdata[7][1]
        pubkey    = userdata[8][1]


        # without user notifcation and with a random password for useradd
        password = mkpasswd(PASSWORDLEN)
        rc = useradd ( username, password, email , uname , company, True, False )

        # this would cause a rollback
        if ( rc != E_OK ):
            logging.info('problem calling useradd from imported user data')
            return E_ERR

        if ( ppsigs != '' and ppwrapped != '' ):
            setecryptfs ( username, ppsigs, ppwrapped )

        # now we set the real password entry the the setpw raw parameter
        setpw ( username, pwentry, True, '', smbhash )
        logging.info ('existing password imported for user ' + username)

        # set the public SSH key of the user
        setpubkey( username, pubkey )

        # and lock the user by default
        lockpw ( username, True )
        logging.info ('user entry locked for user ' + username)

        return E_OK

    except Exception, e:
        print str(e)
        logging.error('problem processing input')
        logging.debug( str(e) )
        return E_ERR

def userdel ( username ):
    logging.debug( sys._getframe().f_code.co_name )

    # first thing is input validation
    if ( checkstr_usr ( username ) == False ):
        return E_ERR

    linenr = getpw( username, True )
    if ( linenr is None or linenr == -1 ):
        logging.debug('user ' + username + ' not found')
        return E_ERR

    try:
        signals_handle( False )
        delent ( username, DBFILE_USER,      SUFFIX_USER )
        delent ( username, DBFILE_EMAIL,     SUFFIX_EMAIL )
        delent ( username, DBFILE_CNAME,     SUFFIX_CNAME )
        delent ( username, DBFILE_COMPANY,   SUFFIX_COMPANY )
        delent ( username, DBFILE_KEY,       SUFFIX_KEY )
        delent ( username, DBFILE_PPSIGS,    SUFFIX_PPSIGS )
        delent ( username, DBFILE_PPWRAPPED, SUFFIX_PPWRAPPED )
        delent ( username, DBFILE_SMB,       SUFFIX_SMB)
        signals_handle( True )

        return E_OK

    except Exception, e:
        logging.debug( str(e) )
        return E_ERR

    return E_ERR

# mark password as expired
def expirepw ( username ):
    logging.debug( sys._getframe().f_code.co_name )

    # first  thing is input validation
    if ( checkstr_usr ( username ) == False ):
        return E_ERR

    try:
        pwentry = getpw( username )
        if ( pwentry is None ):
            logging.debug('user ' + username + ' not found')
            return E_ERR
        position = pwentry.index('$')
        smbhashentry = getsmbhash( username )
        if ( smbhashentry is None ):
            logging.debug('user ' + username + ' Samba hash not found, no action taken')

    except Exception,e:
        logging.debug( str(e) )
        return E_ERR

    # we need to look up after the first $, that could be prefixed by a ! or not
    if ( pwentry[position+1:].startswith ( EXPIREPREFIX ) ):
        logging.debug('password for user ' + username + ' already expired')
        return E_ERR

    # we insert the expiration mark
    newentry = pwentry[:position+1] + EXPIREPREFIX + pwentry[position+1:]
    # set the lockness of the Samba hash
    expiredsmbhash = mk_smb_lockness( username, newentry)

    return setpw ( username , newentry, True, '', expiredsmbhash )

# remove expiration mark
def unexpirepw ( username ):
    logging.debug( sys._getframe().f_code.co_name )

    # first  thing is input validation
    if ( checkstr_usr ( username ) == False ):
        return E_ERR

    try:
        pwentry = getpw( username )
        if ( pwentry is None ):
            logging.debug('user ' + username + ' not found')
            return E_ERR

        smbhashentry = getsmbhash( username )
        if ( smbhashentry is None ):
            logging.debug('user ' + username + ' Samba hash not found, no action taken')

    except Exception,e:
        logging.debug( str(e) )
        return E_ERR

    if ( not is_pwexpired ( pwentry ) ):
        logging.debug('password for user ' + username + ' not expired')
        return E_ERR

    # we remove the expiration mark
    position = pwentry.index('$')
    newentry = pwentry[:position+1] + pwentry[position+2:]
    # set the lockness of the Samba hash
    newsmbhash = mk_smb_lockness( username, newentry )

    return setpw ( username , newentry, True, '', newsmbhash )

# checks if a password entry is expired
def is_pwexpired ( pwentry ):
    logging.debug( sys._getframe().f_code.co_name )

    position = pwentry.index('$')
    return pwentry[position+1:].startswith ( EXPIREPREFIX )

# checks is a user is expired
def is_expired ( username ):
    logging.debug( sys._getframe().f_code.co_name )

    # first  thing is input validation
    if ( checkstr_usr ( username ) == False ):
        return E_ERR

    try:
        pwentry = getpw( username )
        if ( pwentry is None ):
            logging.debug('user ' + username + ' not found')
            return E_ERR

    except Exception,e:
        logging.debug( str(e) )
        return E_ERR

    return is_pwexpired ( pwentry )

# set the Samba hash "lockness"
def mk_smb_lockness ( username, unix_password ):
    currentsmbhash = getsmbhash( username )

    # if the Samba hash has not yet been created for this user, return None
    if ( currentsmbhash == None ):
        return None

    if ( is_pwexpired( unix_password ) or is_pwlocked( unix_password ) ):
        # Samba hash must remain invalid if the user is either expired or locked
        if ( is_smbhashlocked( currentsmbhash ) ):
            return currentsmbhash
        else:
            return LOCKPREFIX + currentsmbhash
    else:
        # Samba hash must be valid if the user is neither expired nor locked
        if ( is_smbhashlocked( currentsmbhash ) ):
            return currentsmbhash.lstrip( LOCKPREFIX )
        else:
            return currentsmbhash


def listplugins (type, fnameonly = False):
    logging.debug( sys._getframe().f_code.co_name )

    mydir = PLUGIN_DIR + '/' + str(type)
    pattern = mydir + '/*.sh'
    pattern2 = mydir + '/*.py'

    mylist = glob.glob(pattern) + glob.glob(pattern2)
    if ( fnameonly != True ):
        return mylist
    else:
        fnames = []
        for f in mylist:
            fnames.append(os.path.basename(f))
        return fnames

# trigger post database change actions
def ondbchange( cmd, username, password, loghandle , logprefix, extramsg = '' ):
    # we dont want the user to be able to interrupt this crucial operation
    signals_handle( False )
    logging.debug( sys._getframe().f_code.co_name )

    # handle different types of plugins
    plugin_msg = 'db changed for ' + cmd + ' on ' + username
    if (extramsg):
        plugin_msg = plugin_msg + ' reason: ' + extramsg

    DEVNULL = open(os.devnull, 'wb')

    # type 1 - no parameters

    type = 1
    plist = listplugins(type)
    for plugin in plist:
        loghandle.info( OURPROCTITLE + logprefix + ': executing type ' + str(type) + ' plugin ' + plugin )
        subprocess.Popen([ 'nohup', plugin ], stdout=DEVNULL , stderr=DEVNULL )

    # type 2 - only plugin_msg

    type = 2
    plist = listplugins(type)
    for plugin in plist:
        loghandle.info( OURPROCTITLE + logprefix + ': executing type ' + str(type) + ' plugin ' + plugin )
        subprocess.Popen([ 'nohup', plugin , plugin_msg ], stdout=DEVNULL , stderr=DEVNULL )

    # type 3 - user info + plugin_msg

    # we don't implement the expire/unexpire thing for now as it is only currently for the initial user state
    # useradd will set the password + issue the lock cmd
    # the unlock command will unlock the user
    # expire / unexpire commands are ignored
    # in general, commands which change variables that are not stored remotely are ignored

    if ( cmd not in SYNCCMDS ):
        # resuming signal handeling before exiting function
        signals_handle( True )
        return

    type = 3
    plist = listplugins(type)

    if ( extramsg != '' ):
        argmsg = [ '-m', extramsg ]
    else:
        argmsg = []

    if ( cmd != 'userdel' ):
        argcname = getcname(username)
    else:
        argcname = 'dummy'

    args = 'dummy'
    for plugin in plist:
        loghandle.info( OURPROCTITLE + logprefix + ': executing type ' + str(type) + ' plugin ' + plugin )

        # set the user password
        if ( cmd == 'setpw' or cmd == 'setpwint' or cmd == 'reset' or cmd == 'inform' ):
            args = [ '-p', password ] +  argmsg + [ username, 'present', argcname ]

        # delete the user
        if ( cmd == 'userdel' ):
            args = argmsg + [ username, 'absent', argcname ]

        if ( cmd == 'lock' ):
            args = argmsg + [ username, 'locked', argcname ]

        # make authentication possible again without changing the existing password
        if ( cmd == 'unlock' ):
            args = argmsg + [ username, 'present', argcname ]

        if ( cmd == 'useradd' ):
            args = [ '-p' , password ] + argmsg + [ username, 'present', argcname ]

        # generic execution for all cases
        execline = [ plugin ] + args
        # this is a blocking call
        myproc = subprocess.call( execline , stdout=DEVNULL , stderr=DEVNULL )

        # for useradd we still need to lock the user afterwards
        if ( cmd == 'useradd' ):
           args = argmsg + [ username, 'locked', argcname ]
           execline = [ plugin ] + args
           # this is a blocking call
           subprocess.call( execline , stdout=DEVNULL , stderr=DEVNULL )

    # resuming signal handeling before exiting function
    signals_handle( True )

def _wrap_with(code):
    def inner(text, bold=False):
        c = code

        if os.environ.get('DISABLE_COLORS'):
            return text

        if bold:
            c = "1;%s" % c

        return "\033[%sm%s\033[0m" % (c, text)

    return inner

red = _wrap_with('31')
red_bg = _wrap_with('41')
green = _wrap_with('32')
green_bg = _wrap_with('42')
yellow = _wrap_with('33')
yellow_bg = _wrap_with('43')
blue = _wrap_with('34')
blue_bg = _wrap_with('44')
magenta = _wrap_with('35')
magenta_bg = _wrap_with('45')
cyan = _wrap_with('36')
cyan_bg = _wrap_with('46')
white = _wrap_with('37')
white_bg = _wrap_with('47')

# prints basic info and helper information related to role assignement
def mk_info ( username, company ):
    logging.debug( sys._getframe().f_code.co_name )

    # we already have the company
    email = getemail (username)
    cname = getcname (username)

    print
    print 'Basic user information:'
    print
    print '  username: ' + username
    print '  email   : ' + email
    print '  name    : ' + cname
    print '  company : ' + company
    print
    print 'Information for role assignement:'

    # for regular linux users
    str_base    = '  is_puppet_base::user        { \''
    str_sudoer  = '  is_puppet_base::user_sudoer { \''

    str_extra  = username + '\': '
    str_extra += 'myname => $::' + username + SUFFIX_CNAME + ', '
    str_extra += 'myhash => $::' + username + SUFFIX_USER + ', '
    str_extra += 'mykey  => $::' + username + SUFFIX_KEY + ', '
    str_extra += ' }'

    strout_base   = str_base   + str_extra
    strout_sudoer = str_sudoer + str_extra

    print ''
    print '  Regular linux user:'
    print ''
    print strout_base
    print strout_sudoer
    print ''

    # for linux desktop users with encrypted home directories
    str_base    = '  is_puppet_base::user_desktop        { \''
    str_sudoer  = '  is_puppet_base::user_desktop_sudoer { \''

    str_extra  = username + '\': '
    str_extra += 'myname => $::' + username + SUFFIX_CNAME + ', '
    str_extra += 'myhash => $::' + username + SUFFIX_USER + ', '
    str_extra += 'ignorekey => true' + ', '
    str_extra += 'myppsigs => $::' + username + SUFFIX_PPSIGS + ', '
    str_extra += 'myppwrapped => $::' + username + SUFFIX_PPWRAPPED + ', '
    str_extra += ' }'

    strout_base   = str_base   + str_extra
    strout_sudoer = str_sudoer + str_extra

    print '  Linux desktop user with encrypted home directory:'
    print ''
    print strout_base
    print strout_sudoer
    print ''

# prints users public key
def mk_pubkey ( username, company ):
    logging.debug( sys._getframe().f_code.co_name )

    pubkey = getpubkey (username)

    print
    print username +'\'s public key:'
    print
    print pubkey
    print

# prints basic info and helper information related to role assignement
def mk_info_export ( username, automation = False ):
    logging.debug( sys._getframe().f_code.co_name )

    company = getcompany(username).decode('utf-8')
    email = getemail (username).decode('utf-8')
    pwentry  = getpw (username)
    smbentry = getsmbhash (username)
    cname = getcname (username).decode('utf-8')
    pubkey = getpubkey (username)
    ppsigs = getppsigs (username)
    ppwrapped = getppwrapped (username)

    userdata =  [ [ 'username', username   ],
                  [ 'company' , company    ],
                  [ 'email', email         ],
                  [ 'pwentry', pwentry     ],
                  [ 'cname', cname         ],
                  [ 'ppsigs', ppsigs       ],
                  [ 'ppwrapped', ppwrapped ],
                  [ 'smbentry', smbentry   ],
                  [ 'pubkey', pubkey       ] ]
 
    # the only difference we get by using json.dump uses double quotes
    # but OK, let's respect data interchange standards
    json_userdata = json.dumps(userdata)

    # encode as base64 for copy paste friendliness
    # allow automated version for unit tests and possible integration with other tools

    b64_json_userdata = base64.b64encode ( json_userdata )
    if ( automation ):
        print b64_json_userdata
    else:
        print
        print 'Export data for username:' , username
        print
        print b64_json_userdata
        print
        print 'To import this user on another system simply run:'
        print
        print 'sudo <%= @localdir %>/hashman/common/pp_auth.py import ' + username + ' ' + b64_json_userdata
        print

    return E_OK

# legacy function
def mk_info_leg ( username, company ):
    logging.debug( sys._getframe().f_code.co_name )

    str_console = '  console_set_web_user { "'
    str_console += username + '_${url}" : '
    str_console += 'myusername => \'' + username + '\' , '
    str_console += 'myurl => $url , '
    str_console += 'myhash => $::' + username + SUFFIX_USER + ' , '
    str_console += 'myname => $::' + username + SUFFIX_CNAME + ' , '
    str_console += 'myemail => $::' + username + SUFFIX_EMAIL + ' , '
    str_console += 'myrole => $role_user'
    str_console += ' }'

    str_filedrop = '  filedrop_set_web_user { "'
    str_filedrop += username + '" : '
    str_filedrop += 'myhash => $::' + username + SUFFIX_USER + ' , '
    str_filedrop += 'mycn => $::' + username + SUFFIX_CNAME + ' , '
    str_filedrop += 'myemail => $::' + username + SUFFIX_EMAIL + ' , '
    str_filedrop += 'mycompany => $::' + username + SUFFIX_COMPANY + ' , '
    str_filedrop += 'myrole => $role_user'
    str_filedrop += ' }'

    appdir = DBDIR + '/apps/'
    myfile = appdir + 'console-' + company + '.pp'
    print ''
    print red('console', bold=True) + ' assignement line for user ' + green(username, bold=True) + ' at ' + blue(myfile, bold=True) + ':'
    print ''
    print str_console
    print ''

    myfile = appdir + 'filedrop.pp'
    print red('filedrop', bold=True) + ' assignement line for user ' + green(username, bold=True) + ' at ' + blue(myfile, bold=True) + ':'
    print ''
    print str_filedrop
    print ''

# test functions, not advertised but can be called via CLI
def test_XXX():

    logging.info ('starting tests')

    assert ( is_string ( '' , True )  == True )
    assert ( is_string ( '' , False )  == False )
    assert ( is_string ( '' )  == False )
    assert ( is_string ( 'onestring' )  == True )
    assert ( is_string ( 'one string' )  == False )
    assert ( is_string ( 'one-string', False, False, '-' ) == True )

    assert ( is_email ( 'xxx@domain.com') == True )
    assert ( is_email ( 'xxx.yyy@domain.com') == True )
    assert ( is_email ( 'xxx_yyy@domain.com') == True )
    assert ( is_email ( 'xxx@dom-ain.com') == True )
    assert ( is_email ( 'xxx@yyy') == False )
    assert ( is_email ( 'xxxyyy') == False )
    assert ( is_email ( 'xxx.yy"#y@domain.com') == False )
    assert ( is_email ( 'xxx.yyy@zzz@domain.com') == False )
    assert ( is_email ( 'Xxx Yyy') == False )
    assert ( is_email ( None) == False )
    assert ( is_cname ( 'Xxx Yyy') == True )
    assert ( is_cname ( 'Xxx') == True )
    assert ( is_cname ( 'Xxx Yyy Zzz') == True )
    assert ( is_cname ( None) == False )

    assert ( encode_to_entity ('çã'.decode('utf-8')) == '&ccedil;&atilde;' )

    # generate a random username
    usr_base  ='TestUser'
    usr_extra = mkstr(PASSWORDLEN)
    username  = usr_base + usr_extra
    password  = 'Lisboa.123!padding' # do not change, related to ecryptfs stuff
    password2 = mkpasswd(PASSWORDLEN)
    email     = usr_base + '_' + usr_extra + '@' + 'localhost.localdomain'
    name      = username + ' Encarnação da Silva'
    company   = 'demo'
    pubkey    = 'AAAAB3NzaC1yc2EAAAADAQABAAABAQDANQg5bUEYVFinxlrSemrr0DBs6BPhb1x1bVwvCbHWHgxA7V0YPHgP7WJvMkihJDCMJbJFdK2pvj9wsckCNJDtV1IhMgzvpM3A1qxd4eUqmYTownYLkd/X+ZeTi7BoD3rXlIS3cS6j8WF7+iVrwlvdcGqVyn1lJPQrjEhbXi8fxMGV9uoZmh3n0pugT6JB5y6O+hR4deH5REoo9fS/t6t8kwCet7qZtfMmXzNV49HN+5BW6PUFP68NCJ2zLDJSaTQ4auGZ5CyHDpazqXhZEK0fsu0WyFmB9dDmzaAg66zhd+0q8CBPVrldwTUqwF7jJtrRNZjHAPbLJMd+fAp3bMYL'
    ppsigs    = 'NWY0ZGVlMzBjZGMzYjNmNQpiZjljYzZjZjI4ZTU4NTgzCg=='
    ppwrapped = 'OgK5f6osEG7szmQ4NzFjZDVjYjZlMjFjMTfYAAJ8i6HFhH8gbY8CHvCrhBtK3Ddf98T7ZbFga3rpxg=='
    smbhash   = 'I/h62t+BlQBVwaOjkKyyig=='

    # check our own generated parameters
    assert ( is_email ( email ) == True )
    assert ( is_cname ( name ) == True )

    # check passwords
    mypass = 'abcde'
    assert ( checkpw(mypass) == False )
    mypass = 'Porto.2!pppaddding'
    assert ( checkpw(mypass) == True )
    # including one automatically generated password
    assert ( checkpw(password2) == True )

    # this weaker password should validate only with relaxed rules (no UPPERCASE chars)
    # this test uses relaxed rules regardless of the global RELAXPASSWORD variable
    mypass = 'porto.2!pppaddding'
    if ( RELAXPASSWORD == True ):
        assert ( checkpw(mypass) == True )
    else:
        assert ( checkpw(mypass,True) == True )
        assert ( checkpw(mypass)      == False )

    # the password used for the test user should validate too
    assert ( checkpw(password) == True )

    # list users before creation
    assert ( listusers () == E_OK )

    # create a user
    rndpass = mkpasswd(PASSWORDLEN)
    assert ( useradd( username, rndpass, email, name, company ) == E_OK)
    # list users after creation
    assert ( listusers () == E_OK )
    # find user index
    assert ( getpw (username) != None )
    assert ( getsmbhash (username) != None )
    assert ( is_email ( getemail (username) ) == True )
    assert ( is_cname ( getcname (username) ) == True )
    assert ( getcompany (username) != None )
    # default values for ecrypt stuff and ssh key
    assert ( getppsigs (username ) == '')
    assert ( getppwrapped (username ) == '')
    assert ( getpubkey (username ) == '')
    # try to create again - should fail
    assert ( useradd( username, rndpass, email, name, company ) == E_ERR)
    # check that the user is initially locked
    assert ( is_locked (username) == True )
    # check that the user is initially expired
    assert ( is_expired (username) == True )
    # a locked and expired user must have its Samba hash locked
    assert ( getsmbhash (username).startswith(LOCKPREFIX) )
    # unlock the user
    assert ( unlockpw (username) == E_OK )
    # unlocked but expired user must have its Samba hash locked
    assert ( getsmbhash (username).startswith(LOCKPREFIX) )
    # unexpire the user
    assert ( unexpirepw (username) == E_OK )
    # an unlocked and unexpired user must have its Samba hash unlocked
    assert ( not getsmbhash (username).startswith(LOCKPREFIX) )
    # lock the user
    assert ( lockpw(username) == E_OK )
    # a unexpired but locked user must have its Samba hash locked
    assert ( getsmbhash (username).startswith(LOCKPREFIX) )
    # unlock but expire the user
    assert ( unlockpw (username) == E_OK )
    assert ( expirepw (username) == E_OK )
    # check if it is really unlocked
    assert ( is_locked (username) == False )
    # list users after unlock
    assert ( listusers () == E_OK )
    # try to unlock again
    assert ( unlockpw (username) == E_ERR )
    # auth against the user a wrong but compliant pass
    wrongpass = mkpasswd(PASSWORDLEN)
    assert ( auth (username, wrongpass) == E_ERR )

    # set pass, unlocks and unexpires the user
    assert ( setpw (username, password) == E_OK )
    # check that the user is not expired anymore
    assert ( is_expired (username) == False )

    # list users after setpw
    assert ( listusers () == E_OK )

    # set ecryptfs fields
    assert ( setecryptfs ( username, ppsigs, ppwrapped ) == E_OK )
    # set public key
    assert ( setpubkey ( username, pubkey ) == E_OK )

    # clear public key and check
    assert ( unsetpubkey ( username ) == E_OK )
    assert ( getpubkey ( username ) == '')

    # set public key again
    assert ( setpubkey ( username, pubkey ) == E_OK )

    # clear ecryptfs params and check
    assert ( unsetecryptfs ( username ) == E_OK )
    assert ( getppsigs ( username ) == '')
    assert ( getppwrapped ( username ) == '')

    # set ecryptfs fields
    assert ( setecryptfs ( username, ppsigs, ppwrapped ) == E_OK )

    # get ecryptfs fields
    pps = getppsigs ( username )
    assert ( pps == ppsigs )
    ppw = getppwrapped ( username )
    assert ( ppw == ppwrapped )
    # get public key
    pk = getpubkey ( username )
    assert ( pk == pubkey )

    # set the user email, company and common name to something else
    assert ( setemail   ( username, 'dummyuser@dummy.io' )  == E_OK )
    assert ( setcompany ( username, 'Dummy Corp Ltd' )      == E_OK )
    assert ( setcname   ( username, 'Frank Einstein' )      == E_OK )

    assert ( listusers () == E_OK )

    # revert
    assert ( setemail   ( username, email)         == E_OK )
    assert ( setcompany ( username, company )      == E_OK )
    assert ( setcname   ( username, name )         == E_OK )

    assert ( listusers () == E_OK )

    # sets the password providing also the old one incorrectly
    wrongpass = mkpasswd(PASSWORDLEN)
    setpw (username, password2, False, wrongpass)
    assert ( setpw (username, password2, False, wrongpass) == E_ERR )
    # sets a new password providing also the old one correctly, this will update ecryptfs stuff
    assert ( setpw (username, password2, False, password) == E_OK )
    # check that it auths correctly
    assert ( auth (username, password2) == E_OK )

    # check the the ecryptfs wrapped passphrase has changed
    pps2 = getppsigs ( username )

    # the signature does NOT change it seems
    #assert ( pps2 != ppsigs )

    # checked that the wrapped passphrase remains the same
    ppw2 = getppwrapped ( username )
    assert ( getpp ( ppwrapped, password )[0] == getpp ( ppw2, password2 )[0] )

    # going back our preferred password providing the previous one
    assert ( setpw (username, password, False, password2) == E_OK )
    # check that it auths correctly
    assert ( auth (username, password) == E_OK )

    # check the the ecryptfs wrapped passphrase has changed again ...
    # not necessarily to ppw because there is salt involved
    ppw3 = getppwrapped ( username )
    assert ( ppw3 != ppw2 )

    # check that the unwrapped passphrases still match
    assert ( getpp ( ppwrapped, password )[0] == getpp ( ppw3, password )[0] )

    # expire the user
    assert ( expirepw (username) == E_OK )
    # check that it became expired
    assert ( is_expired (username) == True )
    # try to expire again
    assert ( expirepw (username) == E_ERR )
    # auth with the right pass - user expired
    assert ( auth (username, password) == E_OK )
    # unexpire the user
    assert ( unexpirepw (username) == E_OK )
    # check that it became unexpired
    assert ( is_expired (username) == False )
    # try to unexpire again
    assert ( unexpirepw (username) == E_ERR )
    # lock the user
    assert ( lockpw(username) == E_OK )
    # check that it became locked
    assert ( is_locked (username) == True )
    # try to lock again
    assert ( lockpw(username) == E_ERR )
    # auth with the right pass - user locked
    assert ( auth (username, password) == E_ERR )

    # export the user
    stdout_ = sys.stdout # backup the original stdout
    stream = cStringIO.StringIO()
    sys.stdout = stream
    rc = mk_info_export (username, True)
    sys.stdout = stdout_ # restore the previous stdout.
    json_b64_userdata = stream.getvalue() # and here we have the output from mk_info_export

    # check that the parameters from the export are correct
    json_userdata = base64.b64decode (json_b64_userdata)
    userdata = json.loads (json_userdata)
    assert ( rc  == E_OK )

    username_i  = userdata[0][1]
    company_i   = userdata[1][1]
    email_i     = userdata[2][1]
    pwentry_i   = userdata[3][1]
    name_i      = userdata[4][1].encode('utf-8')
    ppsigs_i    = userdata[5][1]
    ppwrapped_i = userdata[6][1]
    smbentry_i  = userdata[7][1]
    pubkey_i    = userdata[8][1]

    assert ( username_i  == username             )
    assert ( company_i   == company              )
    assert ( email_i     == email                )
    assert ( pwentry_i   == getpw(username)      )
    assert ( smbentry_i  == getsmbhash(username) )
    assert ( name_i      == name                 )
    assert ( pubkey_i    == pubkey               )
    assert ( ppsigs_i    == ppsigs               )
    # note that we changed the original ppwrapped during tests
    assert ( ppwrapped_i == ppw3            )

    # delete the user
    assert ( userdel(username) == E_OK )
    # import the user
    assert ( useradd_import ( username, json_b64_userdata ) == E_OK )
    # list users after import

    # check that the parameters after import are correct
    assert ( company_i   == getcompany(username)  )
    assert ( email_i     == getemail(username)    )
    assert ( pwentry_i   == getpw(username)       )
    assert ( name_i      == getcname(username)    )
    assert ( pubkey_i    == getpubkey(username)   )
    assert ( ppsigs_i    == getppsigs(username)   )
    # note that we changed the original ppwrapped during tests
    assert ( ppwrapped_i == getppwrapped(username) )

    # list users
    assert ( listusers () == E_OK )
    # export the user again and check the export userdata is the same
    stdout_ = sys.stdout # backup the original stdout
    stream = cStringIO.StringIO()
    sys.stdout = stream
    rc = mk_info_export (username, True)
    assert ( rc  == E_OK )
    sys.stdout = stdout_ # restore the previous stdout.
    json_b64_userdata2 = stream.getvalue() # and here we have the output from mk_info_export
    json_userdata2 = base64.b64decode (json_b64_userdata2)
    userdata2 = json.loads (json_userdata2)
    assert ( userdata2 == userdata )

    # auth should not work before unlock, should work after
    assert ( auth (username, password) == E_ERR )
    assert ( unlockpw (username) == E_OK )
    assert ( auth (username, password) == E_OK )

    # try to import the user knowing it already exists
    assert ( useradd_import ( username, json_b64_userdata2 ) == E_ERR )

    # remove the Samba hash entry to simulate old users without a generated hash
    assert ( delent (username, DBFILE_SMB, SUFFIX_SMB) == E_OK )
    # we're able to lock/unlock and expire/unexpire users without Samba hashes
    assert ( lockpw (username) == E_OK )
    assert ( expirepw (username) == E_OK )
    assert ( unlockpw (username) == E_OK )
    assert ( unexpirepw (username) == E_OK )

    # delete the user again
    assert ( userdel(username) == E_OK )
    # try to import the username with a username that does not match the userdata
    assert ( useradd_import ( username+'garbage' , json_b64_userdata2 ) == E_ERR )

    # list users after deletion
    assert ( listusers () == E_OK )
    # try to delete the user again
    assert ( userdel(username) == E_ERR )

    # we should not find any entry
    assert ( getpw (username) == None ) 
    assert ( getemail (username) == None )
    assert ( getcname (username) == None )
    assert ( getcompany (username) == None )
    assert ( getppsigs (username) == None )
    assert ( getppwrapped (username) == None )
    assert ( getpubkey (username) == None )

    # try operations on the user which now does not exist
    assert ( setpw       (username, password, False, password2) == E_ERR )
    assert ( lockpw      (username)                             == E_ERR )
    assert ( unlockpw    (username)                             == E_ERR )
    assert ( expirepw    (username)                             == E_ERR )
    assert ( unexpirepw  (username)                             == E_ERR )
    assert ( setemail    (username, 'dummyuser@dummy.io' )      == E_ERR )
    assert ( setcompany  (username, 'Dummy Corp Ltd' )          == E_ERR )
    assert ( setcname    (username, 'Frank Einstein' )          == E_ERR )
    assert ( setecryptfs (username, ppsigs, ppwrapped )         == E_ERR )
    assert ( setpubkey   (username, pubkey )                    == E_ERR )

    logging.info ('all tests passed, database will be restored!')

    return E_OK

# command line invocation summary
def print_usage():
    basename = os.path.basename(sys.argv[0])
    print 'Usage: ' + basename + ' auth          USER PASSWORD'
    print '       ' + basename + ' extauth       USER PASSWORD'
    print '       ' + basename + ' setpw         USER PASSWORD NEWPASSWORD'
    print '       ' + basename + ' setpwint      USER'
    print '       ' + basename + ' setecryptfs   USER PPSIGS PPWRAPPED'
    print '       ' + basename + ' setpubkey     USER PUBKEY'
    print '       ' + basename + ' unsetpubkey   USER'
    print '       ' + basename + ' unsetecryptfs USER'
    print '       ' + basename + ' setemail      USER EMAIL'
    print '       ' + basename + ' setcompany    USER COMPANY'
    print '       ' + basename + ' setcname      USER COMMONNAME'
    print '       ' + basename + ' lock          USER [IGNORESTATUS]'
    print '       ' + basename + ' unlock        USER REASON'
    print '       ' + basename + ' useradd       USER EMAIL NAME COMPANY CONFIRMATIONEMAIL | SILENT'
    print '       ' + basename + ' expire        USER'
    print '       ' + basename + ' unexpire      USER'
    print '       ' + basename + ' inform        USER'
    print '       ' + basename + ' reset         USER [OLDPASSWORD]'
    print '       ' + basename + ' testemail     USER'
    print '       ' + basename + ' printinfo     USER'
    print '       ' + basename + ' printpubkey   USER'
    print '       ' + basename + ' export        USER'
    print '       ' + basename + ' import        USER USERDATA'
    print '       ' + basename + ' listusers'
    print '       ' + basename + ' listplugins'
    exit (E_ERR)

# main function
def main():

    # mask credentials on cmdline, first things first
    setproctitle.setproctitle(OURPROCTITLE)

    # !! put code here and syslogging will fail !! #

    # normal use: INFO, debug use: DEBUG
    logging.basicConfig(level=logging.INFO, format='%(levelname)s %(message)s' )
    #logging.basicConfig(level=logging.DEBUG, format='%(levelname)s %(message)s' )

    # separate logger for syslog
    syslogger = logging.getLogger('MyLogger')
    syslog_handler = logging.handlers.SysLogHandler('/dev/log')
    syslogger.addHandler(syslog_handler)
    # disable stdout writing for this logger
    syslogger.propagate = False

    # handle signals nicely
    signals_handle( True )

    cmd = ''
    extramsg = ''
    logprefix = '[' + str(os.getpid()) + ']'
    nargs = len(sys.argv)
    # argument 0 also counts
    if nargs < 2:
        print_usage()

    # we have at least this one
    cmd = sys.argv[1]

    # nargs must be at least 3 except for the short commands
    if nargs < 3:
        if ( cmd not in SHORTCMDS ):
            print_usage()

    if ( cmd not in SHORTCMDS ):
        username = sys.argv[2]
    else:
        username = 'SHORT CMD'

    # initialize db with empty files if necessary
    rc = initdb()
    if ( rc != E_OK):
        logging.error('Problem initializing db. Do you have write permission?')
        exit (rc)

    # this will be overwritten for use with plugins whenever possible
    finalpassword = 'dummypass'
    # flag that prevents notifications from being sent
    ignorenotif = False
    # extra message for email notifications
    extra_msg = ''
 
    for case in switch(cmd):

        if case('auth'):
            if nargs < 4:
                print_usage()
            else:
                password = sys.argv[3]

            syslogger.info( OURPROCTITLE + logprefix + ': user ' + username + ' wants to authenticate')
            # lock access - program will exit if we fail to get the lock
            lockdb(LOCKTIMEOUT)
            rc = auth( username , password )
            break

        # to be used by an external caller like hashman-web
        if case('extauth'):
            if nargs < 5:
                print_usage()
            else:
                password  = sys.argv[3]
                extra_msg = sys.argv[4]

            syslogger.info( OURPROCTITLE + logprefix + ': user ' + username + ' wants to externally authenticate ' + extra_msg )
            # lock access - program will exit if we fail to get the lock
            lockdb(LOCKTIMEOUT)
            rc = auth( username , password )
            break

        if case('setpw'):
            if nargs < 5:
                print_usage()
            else:
                password = sys.argv[3]
                newpassword = sys.argv[4]
            syslogger.info( OURPROCTITLE + logprefix + ': user ' + username + ' wants to setpw')
            # lock access - program will exit if we fail to get the lock
            lockdb(LOCKTIMEOUT)
            rc = auth( username , password )
            if ( rc == E_OK ):
                rc = setpw( username, newpassword, False, password )
                finalpassword = newpassword
            break

        if case('setpwint'):
            if nargs < 3:
                print_usage()

            # lock access - program will exit if we fail to get the lock
            lockdb(LOCKTIMEOUT)
            password     = getpass.getpass('Current password:')
            newpassword  = getpass.getpass('New password:')
            newpassword2 = getpass.getpass('Confirm new password:')

            if ( newpassword != newpassword2 ):
                print 'Passwords do not match'
                exit(E_ERR)

            syslogger.info( OURPROCTITLE + logprefix + ': user ' + username + ' wants to interactively setpw')
            rc = auth( username , password )
            if ( rc == E_OK ):
                rc = setpw( username, newpassword, False, password )
                finalpassword = newpassword
            break

        if case('lock'):
            syslogger.info( OURPROCTITLE + logprefix + ': to lock password for user ' + username )
            # lock access - program will exit if we fail to get the lock
            lockdb(LOCKTIMEOUT)
            if ( nargs > 3 ):
                # called from puppet ignore pre-existing lock (any extra arg will do)
                ignorenotif = True
                rc = lockpw ( username, True )
            else:
                rc = lockpw ( username, False )
            break

        if case('unlock'):
            if nargs < 4:
                print_usage()
            else:
                # we unlock a user only when we are in touch with him and know he is about to change password
                extramsg = sys.argv[3]

            syslogger.info( OURPROCTITLE + logprefix + ': to unlock password for user ' + username )
            # lock access - program will exit if we fail to get the lock
            lockdb(LOCKTIMEOUT)
            rc = unlockpw ( username )
            break

        if case('useradd'):
            if ( nargs < 7 ):
                print_usage()
                break
            else:
                email = sys.argv[3]
                name = sys.argv[4]
                company = sys.argv[5]
                confirm_mail = sys.argv[6]
                # Check content of 6th argument to determine wether to send mail notification or not
                if ( confirm_mail == "SILENT" ):
                    mailnotif = False
                elif ( is_email(confirm_mail) ):
                    mailnotif = True
                else:
                    print_usage()
                    break

            syslogger.info( OURPROCTITLE + logprefix + ': to add user ' + username )
            # lock access - program will exit if we fail to get the lock
            lockdb(LOCKTIMEOUT)
            password = mkpasswd(PASSWORDLEN)
            rc = useradd ( username, password, email, name, company, True, mailnotif, confirm_mail )
            finalpassword = password
            break

        if case('userdel'):
            syslogger.info( OURPROCTITLE + logprefix + ': to delete user ' + username )
            # lock access - program will exit if we fail to get the lock
            lockdb(LOCKTIMEOUT)
            rc = userdel ( username )
            break

        if case('expire'):
            syslogger.info( OURPROCTITLE + logprefix + ': to expire password for user ' + username )
            # lock access - program will exit if we fail to get the lock
            lockdb(LOCKTIMEOUT)
            rc = expirepw ( username )
            break

        if case('unexpire'):
            syslogger.info( OURPROCTITLE + logprefix + ': to unexpire password for user ' + username )
            # lock access - program will exit if we fail to get the lock
            lockdb(LOCKTIMEOUT)
            rc = unexpirepw ( username )
            break

        if case('reset'):
            if ( nargs > 3 ):
                oldpassword = sys.argv[3]
            else:
                oldpassword = ''

            syslogger.info( OURPROCTITLE + logprefix + ': to reset password for user ' + username )

            lockdb(LOCKTIMEOUT)
            status = E_OK

            # if we receive the old password then we auth to be sure it is correct
            if ( oldpassword != ''):
                syslogger.info( OURPROCTITLE + logprefix + ': old password for ' + username + ' is given' )
            else:
                syslogger.info( OURPROCTITLE + logprefix + ': old password for ' + username + ' is NOT given' )

            newpassword = mkpasswd(PASSWORDLEN)
            # if the old password is not empty this only works if the old pass is correct because setpw does auth in that case
            rc = setpw( username, newpassword, False, oldpassword )

            # expiring password after reset to force the user to change it, instead of just using the temporary one
            rc_exp = expirepw(username)
            # if rc == E_OK and rc_exp == E_OK --> rc stays E_OK
            # if rc == E_OK and rc_exp == E_ERR --> rc becomes E_ERR
            # if rc == E_ERR and rc_exp == E_OK --> rc stays E_ERR
            # if rc == E_ERR and rc_exp == E_ERR --> rc stays E_ERR
            # this logic ensures rollback if any of the operations returns E_ERR
            if rc_exp == E_ERR:
                rc = E_ERR

            finalpassword = newpassword

            if ( rc == E_OK ):
                email = getemail ( username )
                name =  getcname ( username )
                notify ( email, name, username, newpassword, BODY_TEXT_RESET )
                logging.info('user ' + username + ' reset with initial password ' + newpassword)

            break

        if case('testemail'):
            lockdb(LOCKTIMEOUT)
            email = getemail ( username )
            name =  getcname ( username )

            syslogger.info( OURPROCTITLE + logprefix + ': to test email to ' + username + ' and  ' + email )

            notify ( email, name, username, 'dummypass', BODY_TEXT_TEST, )
            rc = E_OK
            break

        if case('printinfo'):

            syslogger.info( OURPROCTITLE + logprefix + ': to print info for user ' + username )
            # we get an arbitraty field to make sure the user exists
            lockdb(LOCKTIMEOUT)
            company =  getcompany ( username )

            if ( company != None):
                mk_info ( username, company )
                rc = E_OK
            else:
                logging.error('information for ' + username + ' not found')
                rc = E_ERR
            break

        if case('printpubkey'):

            syslogger.info( OURPROCTITLE + logprefix + ': to print pubkey for user ' + username )
            # we get an arbitraty field to make sure the user exists
            lockdb(LOCKTIMEOUT)
            company =  getcompany ( username )

            if ( company != None):
                mk_pubkey ( username, company )
                rc = E_OK
            else:
                logging.error('information for ' + username + ' not found')
                rc = E_ERR
            break

        if case('export'):

            syslogger.info( OURPROCTITLE + logprefix + ': to export data for user ' + username )
            # we get an arbitraty field to make sure the user exists
            lockdb(LOCKTIMEOUT)
            company =  getcompany ( username )

            if ( company != None):
                mk_info_export ( username )
                rc = E_OK
            else:
                logging.error('information for ' + username + ' not found')
                rc = E_ERR
            break

        if case('import'):
            if nargs < 4:
                print_usage()
            else:
                json_b64_userdata = sys.argv[3]

            # lock access - program will exit if we fail to get the lock
            lockdb(LOCKTIMEOUT)

            # we get an arbitraty field to make sure the does NOT exist
            company =  getcompany ( username )

            if ( company == None ):
                syslogger.info( OURPROCTITLE + logprefix + ': to import data for user ' + username )
                rc = useradd_import ( username, json_b64_userdata )
            else:
                logging.error('user ' + username + ' already exists')
                rc = E_ERR

            break

        if case('setecryptfs'):
            if nargs < 5:
                print_usage()
            else:
                ppsigs = sys.argv[3]
                ppwrapped = sys.argv[4]

            syslogger.info( OURPROCTITLE + logprefix + ': to set ecryptfs parameters for user ' + username )
            # lock access - program will exit if we fail to get the lock
            lockdb(LOCKTIMEOUT)
            rc = setecryptfs ( username, ppsigs, ppwrapped )
            break

        if case('setpubkey'):
            if nargs < 4:
                print_usage()
            else:
                pubkey = sys.argv[3]

            syslogger.info( OURPROCTITLE + logprefix + ': to set pubkey for user ' + username )
            # lock access - program will exit if we fail to get the lock
            lockdb(LOCKTIMEOUT)
            rc = setpubkey ( username, pubkey )
            break

        if case('unsetpubkey'):
            if nargs < 3:
                print_usage()

            syslogger.info( OURPROCTITLE + logprefix + ': to unset pubkey for user ' + username )
            # lock access - program will exit if we fail to get the lock
            lockdb(LOCKTIMEOUT)
            rc = unsetpubkey ( username )
            break

        if case('unsetecryptfs'):
            if nargs < 3:
                print_usage()

            syslogger.info( OURPROCTITLE + logprefix + ': to unset ecryptfs for user ' + username )
            # lock access - program will exit if we fail to get the lock
            lockdb(LOCKTIMEOUT)
            rc = unsetecryptfs ( username )
            break

        if case('setemail'):
            if nargs < 4:
                print_usage()
            else:
                email = sys.argv[3]

            syslogger.info( OURPROCTITLE + logprefix + ': to set email for user ' + username )
            # lock access - program will exit if we fail to get the lock
            lockdb(LOCKTIMEOUT)
            rc = setemail ( username, email )
            break

        if case('setcompany'):
            if nargs < 4:
                print_usage()
            else:
                company = sys.argv[3]

            syslogger.info( OURPROCTITLE + logprefix + ': to set company for user ' + username )
            # lock access - program will exit if we fail to get the lock
            lockdb(LOCKTIMEOUT)
            rc = setcompany ( username, company )
            break

        if case('setcname'):
            if nargs < 4:
                print_usage()
            else:
                cname = sys.argv[3]

            syslogger.info( OURPROCTITLE + logprefix + ': to set cname for user ' + username )
            # lock access - program will exit if we fail to get the lock
            lockdb(LOCKTIMEOUT)
            rc = setcname ( username, cname )
            break

        if case('test'):

            syslogger.info( OURPROCTITLE + logprefix + ': to run self test' )
            lockdb(LOCKTIMEOUT)
            test_XXX()
            # this is to force database restore after testing
            rc = E_ERR
            username = 'SELF TEST FAIL IS BY DESIGN'
            break

        if case('listusers'):

            syslogger.info( OURPROCTITLE + logprefix + ': to list users' )
            rc = listusers()
            sys.exit(rc)

        if case('listplugins'):

            syslogger.info( OURPROCTITLE + logprefix + ': to list plugins' )
            print
            print 'Plugin directory is ' + PLUGIN_DIR
            print
            for i in [ 1, 2, 3 ]:
                print 'type ' + str(i) + ' ' , listplugins(i, True)

            sys.exit(E_OK)

        if case('inform'):
            # Even though we already created a temporary password for the user on useradd,
            # since we will only allow the user to change their password through this command
            # we need to regenerate the random password so that it can be sent to the user via email

            lockdb(LOCKTIMEOUT)

            newpassword = mkpasswd(PASSWORDLEN)
            # if the old password is not empty this only works if the old pass is correct because setpw does auth in that case
            rc = setpw( username, newpassword )

            # expiring password after reset to force the user to change it, instead of just using the temporary one
            rc_exp = expirepw(username)
            if rc_exp == E_ERR:
                rc = E_ERR

            finalpassword = newpassword

            if ( rc == E_OK ):
                email = getemail ( username )
                name =  getcname ( username )
                notify ( email, name, username, finalpassword, BODY_TEXT_INFORM, )
                logging.info('user ' + username + ' informed with initial password ' + newpassword)

            rc = E_OK
            break

        if case():
            print_usage()

    restoreflag = False
    dbchanged = False

    # we don't disclose specifics 
    if ( rc == E_OK ):
        logging.info('action success for user ' + username)
        syslogger.info( OURPROCTITLE + logprefix + ': action success for user ' + username )

        # email notification
        if ( cmd in NOTIFCMDS and TESTENV != True and ignorenotif != True ):
            notif_email ( MAIL_FROM  , SUPPORT_TEAM, username , cmd , 'SUCCESS', extra_msg )

        # flag a databse change after successful write action
        if ( cmd in WRITERCMDS ):
            logging.debug('database was changed')
            dbchanged = True
    else:
        if ( cmd == 'test' ): 
            logging.info('restoring database after unit tests')
        else:
            logging.error('action failure for user ' + username)

        # we don't sent lock failures to syslog because puppet is constanly locking users that need locking
        if ( cmd != 'lock' ):
            syslogger.info( OURPROCTITLE + logprefix + ': action failure for user ' + username )

        # we send email notifications only for some commands
        if ( cmd in NOTIFCMDS and TESTENV != True and ignorenotif != True ):
            notif_email ( MAIL_FROM  , SUPPORT_TEAM , username , cmd , 'FAIL', extra_msg )

        # something went wrong on a write action let's rollback
        if ( cmd in WRITERCMDS ):
            logging.debug('will restore database')
            restoreflag = True

    # trigger whatever processes are needed after a database changed
    if ( dbchanged and not restoreflag ):
        logging.info('running ondbchange hooks for command ' + cmd + ' on user ' + username )
        syslogger.info( OURPROCTITLE + logprefix + ': running ondbchange hooks for command ' + cmd + ' on user ' + username )
        ondbchange(cmd, username, finalpassword, syslogger, logprefix, extramsg)

    # let's release the lock before exiting, and restore db if something went wrong
    unlockdb( restoreflag )

    sys.exit(rc)

# we may start
if __name__ == "__main__":
    main()
