<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/foundation.css')  }}" />
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/app.css')  }}" />
    <title>{{ strtitle }}</title>
    <link href="{{ url_for('static',filename='img/favicon.ico')  }}" rel="shortcut icon" type="image/x-icon" />
  </head>
  <body>
    <div class="row">
      <div class="medium-6 medium-centered large-4 large-centered columns">
        <form action="changepw" method="post" enctype="multipart/form-data" id="my_form">
          <div class="row column log-in-form">
            <h1>
              <img src="{{ url_for('static',filename='img/logo.png')  }}" />
            </h1>
            {% if strcname %}
            <br/>
            <p><strong>Welcome {{ strcname | safe }}!</strong> You can change your password using the form below: <br/> </p>
            {% endif %}

            <!-- we have callouts to make widths the same and because the two new pass fields change border color -->
            <div class="callout small" style="margin: 0 0 0 0; border: 0px solid #ffffff;"  id="oldpassborder" >
              <label>Old password</label>
                <input id="oldpassword" type="password"  name="oldpassword" placeholder="type your old password" autocomplete="off" onkeyup="checkPass('oldpassword', 'newpassword','newpassword2', false, 'passborder','oldpassborder', 'passbutton' ); return false; " >
            </div>

            <!-- common border for the passwords, changes color and forces everything else to have callouts around ... -->
            <div class="callout small" style="margin: 0 0 0 0; border: 0px solid #ffffff;" id="passborder" >
              <label>New password</label>
                <input id="newpassword" type="password" name="newpassword" placeholder="type your new password" autocomplete="off" class="has-tip right" data-tooltip aria-haspopup="true" title="{{ strpassmsg }}" onkeyup="checkPass('oldpassword', 'newpassword','newpassword2', false, 'passborder', 'oldpassborder' , 'passbutton' ); return false; ">
              <label>Confirm new password</label>
                <input id="newpassword2" type="password" name="newpassword2" placeholder="confirm your new password" autocomplete="off" onkeyup="checkPass('oldpassword', 'newpassword','newpassword2', false, 'passborder', 'oldpassborder' , 'passbutton' ); return false; ">
              <!-- placeholder for the Javascript generated message -->
              <span id="confirmMessage" class="confirmMessage"></span>
            </div>
            <!-- -->
            <div class="callout small" style="margin: 0 0 0 0; border: 0px solid #ffffff;"  id="buttonsborder" >
              <div class="expanded button-group">
                <input class="button disabled" type="submit" id='passbutton' value="Change password">
                <a href="/logout" class="secondary button " id="logoutbutton">Logout</a>
              </div>
            </div>
          </div>
        </form>

       <!-- hidden help modal -->
       {% include 'modal.html' %}

       <div class="callout small" style="margin: 0 0 0 0; border: 0px solid #ffffff;"  id="helpborder" >
         <!-- link to help modal -->
         {% include 'modal-link.html' %}
      </div>

      </div>
    </div>
    <script src="{{ url_for('static',filename='js/vendor/jquery.js')  }}" ></script>
    <script src="{{ url_for('static',filename='js/vendor/what-input.js')  }}" ></script>
    <script src="{{ url_for('static',filename='js/vendor/foundation.js')  }}" ></script>
    <script src="{{ url_for('static',filename='js/customvalidation.js')  }}" ></script>
    <!-- handle form buttons -->
    <script> function resetForm( formId ) { document.getElementById(formId).reset(); } </script>
    <script>
      $(document).foundation();
      $("input[type='text'], textarea").val(""); // Empties all text and textareas
      $('#my_form').on('submit', function(e) {
        var mypassbutton = document.getElementById('passbutton');
        var mylogoutbutton = document.getElementById('logoutbutton');
        if (mypassbutton.className == 'button') {
          disableButtons(e);
          mylogoutbutton.className = 'button disabled';
        }

        if ( checkPass('oldpassword', 'newpassword','newpassword2', false, 'passborder', 'oldpassborder' , 'passbutton' ) ) {
          return true;
         } else {
           e.preventDefault();
         }
        });

      $('#helpbutton').on('click', function(e) { 
         if ( checkHelpFields( 'name', 'email', 'msg' , 'helpbutton' ) ) 
           return true;
         else
           e.preventDefault(); 
        });

      function disableButtons (e) {
        $('#passbutton').prop('disabled', 'disabled');
        $('#logoutbutton').on("click", function (e) {
          e.preventDefault();
        });
      }

  </script>
  <script>
        // client side session timeout logic
        var timeoutInMiliseconds = {{ session_timeout * 1000 }};
        var timeoutId; 
        
        function startTimer() { 
            // window.setTimeout returns an Id that can be used to start and stop a timer
            timeoutId = window.setTimeout(doInactive, timeoutInMiliseconds);
        }
        
        function doInactive() {
            console.log('found inactive');
            window.location.replace("/expired");
        }

        function resetTimer() { 
            window.clearTimeout(timeoutId)
            startTimer();
        }
        
        function setupTimers() {
            document.addEventListener("mousemove", resetTimer, false);
            document.addEventListener("mousedown", resetTimer, false);
            document.addEventListener("keypress", resetTimer, false);
            document.addEventListener("touchmove", resetTimer, false);
            
            startTimer();
        }
        
        // managed by puppet
        if ("True" == "{{ session_expiration }}") {
            setupTimers();
        }
</script>
  
  </body>
</html>
