// simpler than anything else: 
// http://keithscode.com/tutorials/javascript/3-a-simple-javascript-password-validator.html

//Set the colors we will be using ...
var goodColor = "#2199E8";
var badColor = "#E76861";
var badBorder = "2px solid" + badColor;
var goodBorder = "2px solid" + goodColor;
var whiteBorder = "0px solid" + "#ffffff"

var MINPASSWORDLEN='<%= @minpasswordlen %>'
var RELAXPASSWORD=<%= @relaxpassword %>
var STR_PASS_MSG='<%= @strpassmsg %>'
var UPPERCASE="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
var LOWERCASE="abcdefghijklmnopqrstuvwxyz"
var LETTERS= UPPERCASE + LOWERCASE
var NUMBERS="0123456789"
// also on next.html and pp_auth.py
var SYMBOLS="!?#$%&*@+-._=;:|/"
var WHITELIST_PWD = SYMBOLS + NUMBERS + LETTERS

function isEmpty ( obj )
{
    if ( obj == null || obj.value == ""  )
        return true;
   else
       return false;

}

// this is intended to prevent mistakes from usersi with normal emails, not to validate exotic emails addresses
// a lot of fun
// http://stackoverflow.com/questions/46155/validate-email-address-in-javascript

function isValidEmail(email) {
    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
}

// lowlevel strength checkin is encapsulated here
function isStrong ( strpass )
{

    // compare to the white list to avoid funky chars
    var myreg = new RegExp( '[' + WHITELIST_PWD +']', 'g' );
    var aux = strpass.match(myreg); // could be null
    if (aux)
       var matchlen = aux.length;
    else
       var matchlen = 0;
    var passlen = strpass.length;
    var crit0 = ( matchlen == passlen)
   
    // if not all password chars are on the WHITELIST... 
    if ( !crit0)
        return false;

    // the 3 criteria described on the text 
    var crit1 = ( strpass.length >= MINPASSWORDLEN );
    myreg = new RegExp( '[' + SYMBOLS +']' );
    var crit2 = myreg.test(strpass); 
    myreg = new RegExp( '[' + NUMBERS +']' );
    var crit3 = myreg.test(strpass);
    var crit4 = false;
    var crit5 = false;

    if ( RELAXPASSWORD != true )
    {
      myreg = new RegExp( '[' + UPPERCASE +']' );
      crit4 = myreg.test(strpass);
      myreg = new RegExp( '[' + LOWERCASE +']' );
      crit5 = myreg.test(strpass);
    }
    else
    {
      myreg = new RegExp( '[' + LETTERS +']' );
      crit4 = myreg.test(strpass);
      crit5 = true;
    }

    return ( crit1 && crit2 && crit3 && crit4 && crit4 );

}

// checks password strength and provides visual feedback
function checkStrength ( field )
{

  var myPass = document.getElementById(field).value;

  // this works because we have only one tooltip
  var myTooltip = document.getElementsByClassName('tooltip right')[0];
  var text = ''
  var extrapassmsg = ''

  if ( isStrong ( myPass ) )
  {
    text = '<strong>Congratulations!</strong><br/><br/>Your new password is secure. Please confirm your new password by typing it on the text field below.<br/>'; 
    
    // we are switching the class because changing myTooltip.style.background doesn't affect the little trinagle 
    // we need to make sure " good" is there only once
    myTooltip.className = myTooltip.className.replace(' good', '');
    myTooltip.className += ' good';
    myTooltip.innerHTML = text;

    return true; 
  }
  else
  {
    text = STR_PASS_MSG // from Puppet
    myTooltip.className = myTooltip.className.replace(' good', '');
    myTooltip.innerHTML = text;

    return false; 
  }

}

// global check that controls enabled/disabled state of button
function checkPass ( field0, field1, field2, paintFields, border, oldborder, button )
{

    var passbutton = document.getElementById(button);
    var passborder = document.getElementById(border)
    var oldpassborder = document.getElementById(oldborder);
    var message = document.getElementById('confirmMessage');
    var oldpass = document.getElementById(field0);
    var newpass = document.getElementById(field1);
    var newpass2 = document.getElementById(field2);

    var fieldsCheck = ( newpass.value == newpass2.value )
    var strengthCheck = checkStrength(field1);
    var oldpassCheck = !isEmpty(oldpass);

    // all is well
    if ( fieldsCheck && strengthCheck && oldpassCheck )
    {
        passbutton.className = 'button';
        message.style.color = goodColor;
        passborder.style.border = goodBorder;
        oldpassborder.style.border = whiteBorder;
        message.innerHTML = "Passwords match!";
        passbutton.className = 'button';
        return true;

    }
    else // handling of all other situations
    {
        message.style.color = badColor;
        passbutton.className = 'button disabled';

        if ( oldpassCheck == false )
        {
            message.style.color = badColor;
            message.innerHTML = "Old password missing!";
            oldpassborder.style.border = badBorder;
            passborder.style.border = whiteBorder;
            return false;
        }
        else
        { 
            oldpassborder.style.border = whiteBorder;
            message.innerHTML = "";
            if ( isEmpty(newpass) && isEmpty(newpass2) )
            {
                passborder.style.border = whiteBorder;
                return false;
            }
            else
                passborder.style.border = badBorder;
        }

        if ( strengthCheck == false )
        {
            if (!isEmpty(newpass))
                message.innerHTML = "New password is weak or contains invalid chars!";
            else
                message.innerHTML = "";

            return false;
        }

        if ( fieldsCheck == false )
        {
            
            if (!isEmpty(newpass2))
                message.innerHTML = "Passwords don't match!";
            else
                message.innerHTML = "";

            return false;
        }

        return false;
    }

}

function whitenBorder ( border )
{
    var passborder = document.getElementById(border)
    passborder.style.border = whiteBorder;
}


function checkHelpFields ( namefield , emailfield , msgfield , buttonid )
{

   var nameobj = document.getElementById(namefield);
   var emailobj = document.getElementById(emailfield);
   var msgobj = document.getElementById(msgfield);
   var button = document.getElementById(buttonid);
   var status = ( !isEmpty(nameobj) && isValidEmail(emailobj.value) && !isEmpty(msgobj) );

   if ( status == true )
       button.className = 'button';
   else
       button.className = 'button disabled';

   return ( status );
}

