<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/foundation.css')  }}" />
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/app.css')  }}" />
    <title>{{ strtitle }}</title>
    <link href="{{ url_for('static',filename='img/favicon.ico')  }}" rel="shortcut icon" type="image/x-icon" />
  </head>
  <body>
  <div class="row">
      <div class="medium-6 medium-centered large-4 large-centered columns">
       <h1>
       <img src="{{ url_for('static',filename='img/logo.png')  }}" />
      </h1>
      <br>

      <div class="callout small" >
      {% if strtype %}
      <strong>{{ strtype }} </strong> 
      {% else %}
      <strong>Output: </strong> <br/> <br />
      {% endif %}
      
      {% if strmsg %}
      {{ strmsg }}
      {% endif %}       
      <br/> <br />
      </div>

      {% if strurl %}
      <a href='{{ strurl }}' class="button" >Try again</a>
      {% endif %}

      </div>
    </div>
    <script src="{{ url_for('static',filename='js/vendor/jquery.js')  }}" ></script>
    <script src="{{ url_for('static',filename='js/vendor/what-input.js')  }}" ></script>
    <script src="{{ url_for('static',filename='js/vendor/foundation.js')  }}" ></script>
    <script src="{{ url_for('static',filename='js/customvalidation.js')  }}" ></script>
    <script>$(document).foundation(); </script>
  </body>
</html>
