<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/foundation.css')  }}" />
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/app.css')  }}" />
    <title>{{ strtitle }}</title>
    <link href="{{ url_for('static',filename='img/favicon.ico')  }}" rel="shortcut icon" type="image/x-icon" />
  </head>
  <body>
    <div class="row">
      <div class="medium-6 medium-centered large-4 large-centered columns">
        <form action="login" method="post" enctype="multipart/form-data">
          <div class="row column log-in-form">
            <h1>
              <img src="{{ url_for('static',filename='img/logo.png')  }}" />
            </h1>
            <br>
            <label>Username</label>
            <input type="text"  name="username" placeholder="type your username" autocomplete="off">
            <label>Password</label>
            <input id="password" type="password" name="password" placeholder="type your password" autocomplete="off" >
            <input class="button expanded" type="submit" value="Login">
          </div>
        </form>

        <!-- hidden help modal -->
       {% include 'modal.html' %}

       <!-- link to help modal -->
       {% include 'modal-link.html' %}

      </div>
    </div>
    <script src="{{ url_for('static',filename='js/vendor/jquery.js')  }}" ></script>
    <script src="{{ url_for('static',filename='js/vendor/what-input.js')  }}" ></script>
    <script src="{{ url_for('static',filename='js/vendor/foundation.js')  }}" ></script>
    <script src="{{ url_for('static',filename='js/customvalidation.js')  }}" ></script>
    <script>
      $(document).foundation();
      $("input[type='text'], textarea").val(""); // Empties all text and textareas 
      $('#helpbutton').on('click', function(e) { 
         if ( checkHelpFields( 'name', 'email', 'msg' , 'helpbutton' ) ) 
           return true;
         else
           e.preventDefault(); 
        });
    </script>
  </body>
</html>
