       <!-- hidden help modal -->
       <div class="medium reveal" id="helpModal" data-reveal>
         <h5>We are here to support you</h5>

         <form id="reqhelp" action="reqhelp" method="post" enctype="multipart/form-data">

           <!-- narrow -->
           <div class="row">
             <div class="large-6 columns">
               <label>Your name</label>
               <input id="name" type="text" name="name" placeholder="type your name"  onkeyup="checkHelpFields( 'name', 'email', 'msg' , 'helpbutton'); return false;">
               <label>Your email</label>
               <input id="email" type="text" name="email" placeholder="type your email"  onkeyup="checkHelpFields( 'name', 'email', 'msg' , 'helpbutton'); return false;">
             </div>
           </div>

           <!-- wider -->
           <div class="row">
             <div class="large-12 columns">
               <label>How can we help you?</label>
               <!-- the rows attribute only works due to custom css at app.css -->
               <textarea id="msg" type="text" name="msg" placeholder="type your message here" rows="5"  onkeyup="checkHelpFields( 'name', 'email', 'msg' , 'helpbutton'); return false;"></textarea>
             </div>
           </div>
         
           <p align="right">
             <button type="submit" id="helpbutton" class="button disabled">Request help</button>
             <button type="button" id="cancel" class="secondary button" data-close aria-label="Close modal" onclick="resetForm('reqhelp')" >Cancel</button>
           </p>
           <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
           </button>
         <! -- where we are currently is also posted -->
         <input type="hidden" name="current_url" value="{{ request.path }}" />
         </form>
       </div>
       <!-- end of hidden help modal -->

