#!/bin/bash

E_OK=0
E_ERR=1
LOCKFILE="/var/lock/apt-check-updates.lock"
PKGSFILE="<%= @update_cache_dir %>/list"
CHECK_CVE_SCRIPT="<%= @localdir %>/bin/apt-check-CVE-priority.py"
SILENT="<%= @check_apt_silent %>"
DEFAULT_PRIO="<%= @default_prio %>"
STANDARD_PRIOS="Negligible Low Medium High Critical"

function over_threshold () {

threshold=$1
list="$2"

# build lists of interesting according to the given threshold
case $threshold in
  Negligible)
    prio_list="Negligible Low Medium High Critical"
    ;;
  Low)
    prio_list="Low Medium High Critical"
    ;;
  Medium)
    prio_list="Medium High Critical"
    ;;
  High)
    prio_list="High Critical"
    ;;
  Critical)
    prio_list="Critical"
    ;;
  *)
    prio_list="Negligible Low Medium High Critical"
    ;;
esac

#echo "list is $prio_list"
# check if at least one of the listed priorities is included
for p in $list; do
  echo $prio_list |grep $p >/dev/null
  rc=$?
  if [ $rc -eq 0 ]; then
    #echo "$p matches $prio_list"
    return $E_OK
  fi
done

# default situation
return $E_ERR

}

function get_cve_prio(){
    cve=$1
    CVE_OUTPUT_TEMP=`$CHECK_CVE_SCRIPT fetch -c $cve`
    RES=$?
    echo "$CVE_OUTPUT_TEMP" | head -1
    if [ $RES -eq $E_ERR ];then
        # we run exit here but this function is executed inside a subshell, thus only
        # exiting the function instead of the whole script execution
        exit $E_ERR
    fi

}


function print_usage () {

  echo "usage: apt-check-updates.sh PRIOTHRESHOLD [PKGLIST]"
  exit $E_ERR

}

### Main script ###

# 1. validations

if [ -z "$1" ]; then
  print_usage
fi

# we want exact word match, we can't match a substring of an allowed priority
if [[ "$STANDARD_PRIOS" =~ .*\ $1\ .* ]]; then
  PRIOTHRESHOLD=$1
else
  print_usage
fi

if [ -f $LOCKFILE ]; then
   echo "lock file exists: $LOCKFILE"
   exit $E_ERR
else
   touch $LOCKFILE
fi

# 2. action starts

# we add pipes to the lists so we can easily use grep
# we want to match the packagename in the beggining of a line and followed by a comma
if [ ! -z "$2" ]; then
  AUX=`echo "$2" | sed 's/ /,|^/g'`
  PKGLIST="^$AUX,"
else
  PKGLIST=
fi

# unfortunately apt list does not provide a formatted ouput
# this initial parsing was done so that we get the format
# pkgname, version installed, version available
# it may need maintenance in the future

MYLINES=
while read line; do
  pkg_name=`echo $line | awk '{ print $1 }' | awk -F/ '{ print $1 }'`
  version_to=`echo $line | awk '{ print $2}'`
  version_from=`echo $line | awk '{ print $6}'| tr -d ']'`
  line_edited=$pkg_name,$version_from,$version_to
  #echo $line_edited
  MYLINES="$MYLINES\n$line_edited"
done < <( apt list --upgradable |grep -v "Listing..." )

# we might in the future have a direct command for this
# so this variable remains as a place holder
CHECK_CMD="echo -e $MYLINES"

[ $SILENT == 1 ] || echo
if [ ! -z "$PKGLIST" ]; then
  [ $SILENT == 1 ] || echo 'Checking for packages from the given list with available updates'
  RESULT=`$CHECK_CMD |egrep "$PKGLIST"`
else
  [ $SILENT == 1 ] || echo 'Checking for any packages with available updates'
  RESULT=`$CHECK_CMD`
fi

have_update=

for line in $RESULT; do
  pkg_name=`echo $line | awk -F ',' '{ print $1 }'`
  have_update="$have_update $pkg_name"
done

[ $SILENT == 1 ] || echo
[ $SILENT == 1 ] || echo 'Packages that have updates are:'
[ $SILENT == 1 ] || echo $have_update
[ $SILENT == 1 ] || echo
[ $SILENT == 1 ] || echo "Priority threshold is $1"
[ $SILENT == 1 ] || echo

# incremental variable for acumulating matching packages
to_update=

for line in $RESULT; do
  pkg_name=`echo $line | awk -F ',' '{ print $1 }'`
  version_installed=`echo $line | awk -F ',' '{ print $2 }'`
  version_candidate=`echo $line | awk -F ',' '{ print $3 }'`
  # show changelog only until it reaches the installed version
  pkg_cves=`apt-get changelog $pkg_name=$version_candidate 2>/dev/null |sed -n  "/$version_installed/q;p" | egrep -o 'CVE-[0-9]{4}-[0-9]{1,5}' |sort -u`

  pkg_priorities=
  #echo "Checking CVEs for package $pkg_name between $version_installed and $version_candidate"
  if [ ! -z "$pkg_cves" ]; then
    for cve in $pkg_cves; do
      #echo $cve
      cve_prio=`get_cve_prio $cve`
      if [ $? -eq $E_ERR ]; then
        echo "Error fetching $cve update priority, setting priority to $DEFAULT_PRIO"
        cve_prio=$DEFAULT_PRIO
      fi
      #echo "$cve present on package $pkg_name has priority $cve_prio"
      pkg_priorities="$pkg_priorities $cve_prio"
    done
    # removing "error" information from python query script, that we don't want to consider here
    my_priorities=`echo $pkg_priorities | sed 's/NotFound//g' | sed 's/NoMatchesFound//g' | tr ' ' '\n' | sort -u |tr '\n' ' '` 
    [ $SILENT == 1 ] || echo "priorities for $pkg_name are $my_priorities"
    if over_threshold $PRIOTHRESHOLD "$my_priorities"; then
      [ $SILENT == 1 ] || echo " * adding $pkg_name to updates list"
      to_update="$to_update $pkg_name"
    fi
  fi

done

[ $SILENT == 1 ] || echo
[ $SILENT == 1 ] || echo "List of packages with updates of priority $PRIOTHRESHOLD or above:"
# this echo is always necessary
echo $to_update > $PKGSFILE

rm -f $LOCKFILE
